[2021-03-16 11:04] zone117x commented on #206
@kyranjamie looks like mempool tx websocket updates have been supported since https://github.com/blockstack/stacks-blockchain-api/pull/188

Are you still seeing any issues with them? Otherwise, closing this issue for now.

[2021-03-16 11:04] #206 closed

[2021-03-16 11:15] zone117x commented on #241
Locked balances from the Stacks 1.0 chain data (AKA vesting amount) are being tracked in this issue: https://github.com/blockstack/stacks-blockchain-api/issues/423

PoX locked balances were added a while ago, docs here: https://blockstack.github.io/stacks-blockchain-api/#operation/get_account_stx_balance

[2021-03-16 11:15] #241 closed

[2021-03-16 11:35] zone117x commented on #370
Closing in favor of https://github.com/blockstack/stacks-blockchain-api/issues/317

[2021-03-16 11:35] #370 closed

[2021-03-16 11:38] zone117x commented on #425
We ended up implementing the `send-many` contract and tooling around it as an alternative solution to this.

[2021-03-16 11:38] #425 closed

[2021-03-16 11:52] zone117x commented on #299
I think this can be considered close by https://github.com/blockstack/stacks-blockchain-api/pull/407 (the feature to fetch mempool txs for a given address).

It's a separate endpoint because it isn't clear how to merge the mempool results with the mined tx results, especially in regards to pagination.

[2021-03-16 11:52] #299 closed

[2021-03-16 12:21] #428 closed

[2021-03-16 13:26] CharlieC3 commented on #498
Confirmed, API running in testnet is `0.52.3`. I can update this today in testnet.

[2021-03-16 19:06] CharlieC3 commented on #403
@kantai Until [this issue](https://github.com/blockstack/stacks-blockchain/issues/1818) is resolved for stacks-blockchain, the stacks-node metrics probably won't be able to replace what some of the API metrics are exposing through Nginx. The closest metric we have related to stacks-node API endpoints is `stacks_node_rpc_requests_total`, which doesn't separate by endpoint nor expose latency. So con

[2021-03-16 20:08] kantai commented on #403
I see -- is there another option until #1818 is resolved (which should be the plan long term-- any nodes _not_ servicing API instances are missing out on these metrics as is)? When you say we're getting data from Nginx, is that data impacted by PR #502 (that seems like it's just updating the application's prom metrics, not the nginx instance)? If not, we should be able to configure the Nginx prome

[2021-03-16 20:13] CharlieC3 commented on #403
Yes, because their traffic isn't going through Nginx.

This isn't clear to me either, but @wileyj's comment in this issue's description:

makes me think the Nginx metrics collected can be influenced by downstream services. @wileyj can you confirm or explain how this works?

[2021-03-16 20:44] hstove commented on #498
Ah, beautiful, good to know. Closing this

[2021-03-16 20:44] #498 closed

[2021-03-17 11:33] #227 closed

[2021-03-17 14:23] wileyj commented on #403
this works as you would imagine - if the proxied service is slow, the nginx metrics will show that.
in this case, if the `/metrics` endpoint is taking too long to complete, it has had an impact on other requests due to CPU used to serve the request. as a result, nginx metrics show a definite spike in latency for all traffic.

I would argue that most operational knowledge isn't useful for retaining

[2021-03-17 14:31] CharlieC3 commented on #403
most of the paths are only called a handful of times at most.

I don't think you'll find any disagreements there, but lumping all requests into a single bucket would result in a large loss of useful knowledge. We've already found that being able to distinguish certain paths from others, like `/v2/pox`, has been useful to understand bottlenecks in the service.

Ideally, we would come up with a list

[2021-03-17 14:36] #497 closed

[2021-03-17 14:43] zone117x opened #504 "Do not re-import Stacks 1.0 data on restart"
Related to https://github.com/blockstack/stacks-blockchain-api/issues/500

The `v1-import` code (currently used for importing BNS data from the Stacks 1.0 data dump) needs to be aware of when it has already performed the import process. Right now it will attempt to import every restart, which will break when restarting the API without a db wipe.

My initial feeling is that there should be a new `c

[2021-03-17 14:56] wileyj commented on #403
`/v2/pox`, `/v2/info` etc are already separate. These are the main ones where we'd see issues from something like the wallet.

[2021-03-17 15:31] pablojorge opened #505 "[Rosetta] Include "suggested_fee" in the /construction/metadata response"
Currently, to estimate the fee to be used in a transfer, we're using the `/construction/preprocess` + `/construction/metadata` + `/construction/payloads` to obtain an unsigned transaction, and multiply its size by the output of the https://blockstack.github.io/stacks-blockchain-api/#operation/get_fee_transfer operation.

This is not ideal since we need to use a custom endpoint instead of relying o

[2021-03-17 16:10] zone117x commented on #505
Thanks for the suggestion @pablojorge!
@rllola is this something you can take on?

[2021-03-17 16:26] zone117x commented on #369
Chatted more about this with @kyranjamie and sounds like we should move ahead with a new endpoint, similar to `/extended/v1/:address/transactions`.

But rather than returning a bare array of transactions, it would return a list of objects that look like:
[code]

[2021-03-17 16:30] #403 closed

[2021-03-17 16:39] #467 closed

[2021-03-18 06:59] asimm241 commented on #459
I am looking into this issue.

[2021-03-18 08:21] friedger opened #506 "Streamline clarity value results"
All endpoints that return a clarity value should use the same type.

#494 introduces uses `value` of type `string` and `value_repr`. Most of the other endpoints return `value` as `{hex: string, repr: string}`. Some endpoints have additional properties `name` or `type`.

Example:
https://stacks-node-api.blockstack.org/extended/v1/tx/0xa7058b911cb8fdf5c50468096abf867f5209f526fcda1e3d4742a9d21853b781

[2021-03-18 08:34] friedger commented on #432
Here is a description: https://app.sigle.io/friedger.id/FDwT_3yuMrHDQm-Ai1OVS

In #494 `asset_id` is used wrongly. The `value` of `NFTEvent` should be `asset_id`.
@agraebe

[2021-03-18 09:10] friedger commented on #432
@zone117x Is this consensus, that `asset_class` is the better name? `asset_identifier` is also used in the `stacks-blockchain` code.

[2021-03-18 09:12] zone117x commented on #432
I'm not sure -- I haven't seen this brought up elsewhere. Is this clarified in a SIP?

[2021-03-18 09:21] #459 closed

[2021-03-18 09:28] friedger commented on #432
In https://github.com/stacksgov/sips/blob/595d849f268cf12507598dcca7cdbf80a6c5365b/sips/sip-005/sip-005-blocks-and-transactions.md#account-assets, "all asset types are globally-addressable via their identifier in the contract and their fully-qualified contract names".

It is not described how "a particular instance" can be globally addressed.

Lets take the first instance (`u1`) of `ST1JSH2FPE8BWN

[2021-03-18 09:28] blockstack-devops commented on #459
:tada: This issue has been resolved in version 0.55.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@blockstack/stacks-blockchain-api-types/v/0.55.1)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.55.1)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.55

[2021-03-18 10:01] asimm241 commented on #378
I have started looking into this issue !

[2021-03-18 10:09] zone117x opened #509 "Support mempool txs in `/extended/v1/tx/:txid/raw`"
Related to https://github.com/blockstack/stacks-blockchain-api/issues/428

Fetching raw txs was added in https://github.com/blockstack/stacks-blockchain-api/pull/495, however, it doesn't support transactions from the mempool table.

[2021-03-18 13:44] lgalabru opened #511 "BNS: investigate name not being updated"
Investigate https://stacks-node-api-bns.testnet.stacks.co/v1/names/test-registrar, and its zone file hash has not being updated.

1 transaction for registering the name (with a bad zonefile hash + inexistant zonefile) correctly executed and reported here https://explorer.stacks.co/txid/0x5c7b996dd5fb0d25059f54f87443b86756eccfbef69a115c5243d24cea7ab784?chain=testnet

1 transaction for updating the

[2021-03-18 15:51] #509 closed

[2021-03-18 21:46] asimm241 commented on #511
There are two bugs that I found
1) `names` table is not being updated correctly,
This is how it is doing

`name: attachment.attachment.metadata.name,
namespace_id: unresolvedSubdomain.result.namespace_id`

It should be doing this.

`name: attachment.attachment.metadata.name.concat(
                  '.',
                  attachment.attachment.metadata.namespace
                ),
namespace_id: un

[2021-03-19 13:18] CharlieC3 opened #514 "API BNS crash after processing V1 data"
**Describe the bug**
The API built from the `bns` branch crashes when starting, seemingly right after Stacks V1 data is processed. This error started occurring after the `subdomain_zonefiles.txt` file was corrected in the GCP bucket and in the exported-data archive. Prior to that update this branch would start without crashing.

**To Reproduce**
Start the API from the `bns` branch, set the `BNS_IM

[2021-03-19 13:21] aulneau opened #515 "Expose locking / unlocking data"
The explorer is currently using 2 sets of data for displaying locking data related to addresses that have some amount of locking still in place. There is a static data [export found here](https://github.com/blockstack/explorer/blob/main/src/pages/api/vesting/lockups.json), and the explorer is also relying on a [legacy endpoint](https://github.com/blockstack/explorer/blob/main/src/common/utils/addr

[2021-03-19 15:00] CharlieC3 commented on #514
Fixed after correcting the `subdomains.csv` and `sha256` files in GCP.

[2021-03-19 15:00] #514 closed

[2021-03-22 08:54] asimm241 commented on #378
- @zone117x I am confused, the contract endpoint already returning `tx_id` and not filtering pending contracts.
   here is the query for the contract endpoint:
`
        SELECT tx_id, canonical, contract_id, block_height, source_code, abi
        FROM smart_contracts
        WHERE contract_id = $1
        ORDER BY canonical DESC, block_height DESC
        LIMIT 1
`.

- I can add `tx_id` in the sea

[2021-03-22 09:11] zone117x commented on #378
The issue is referencing transactions within the mempool (AKA pending). Data for these transactions are in the `mempool_txs` table.

[2021-03-22 09:19] asimm241 commented on #378
Gottcha. I can add tx_id in the search result.

[2021-03-22 18:19] hstove opened #517 "BNS: redirect to subdomain registrar for missed subdomains"
We want to replicate some behavior in Stacks 1.0. When a name is requested from `/v1/names/:fully_qualified_subdomain`, proxy the request to the registrar for that name (i.e. https://stacks-node-api-bns.testnet.stacks.co/v1/names/test-registrar.id ).

This allows apps to resolve subdomains that haven't fully registered yet. This behavior is pretty important for apps, otherwise a user cannot sign u

[2021-03-22 19:31] #378 closed

[2021-03-23 13:46] rllola commented on #505
Currently implementing it.

[2021-03-23 15:17] aulneau opened #518 "Expose when contracts/functions are called by other contracts"
While working to expose delegation data on stacking.club, I realized that delegation data is restricted to only pools that have called `delegate-stack-stx` from an address, not from within another contract. @friedger's pool [uses a contract](https://explorer.stacks.co/txid/0xf05cd5474faccaa6cf695aa28a4e62318cd8970c61f4d0fcd818cc9e3f313984?chain=mainnet) to call `delegate-stack-stx`.

I'm wondering

[2021-03-23 19:31] CharlieC3 opened #519 "Make cache-control file name/path customizable"
**Is your feature request related to a problem? Please describe.**
When running the API in k8s, I'm unable to override the default `.proxy-cache-control.json` file without also deleting the other files in the same directory. This is just how K8s works unfortunately.

**Describe the solution you'd like**
I'd like the file name + path customizable via environment variable. When the env var is set, t

[2021-03-23 22:36] hstove opened #520 "Subdomains do not return proper zonefile in `/v1/names/:name`"
When I request a subdomain, i.e. https://stacks-node-api.testnet.stacks.co/v1/names/second_test.test-registrar.id, the `zonefile` is a hex buffer. Ideally, it should be an ascii string. However, even when decoded to ascii, the result seems to be the entire name's zonefile, not this specific subdomain:

[code]

[2021-03-24 04:27] #133 closed

[2021-03-24 07:34] zone117x commented on #520
@asimm241 @noumanahmads are either of you able to take this on?

[2021-03-24 08:32] asimm241 commented on #520
I'm looking into it.

[2021-03-25 10:56] zone117x commented on #500
Updates:
* The stacks-node-api process can be successfully restarted while the stacks-node is running. This PR fixes a race-condition that can happen during restart: https://github.com/blockstack/stacks-blockchain-api/pull/522.
* When the stacks-node does not run into issues https://github.com/blockstack/stacks-blockchain/issues/2545 or https://github.com/blockstack/stacks-blockchain/issues/2546,

[2021-03-25 13:09] asimm241 commented on #432
I'm looking into this.

[2021-03-25 21:18] MarvinJanssen opened #523 "Mocknet mode for blockstack/stacks-blockchain-api-standalone Docker image chain ID issue"
**Describe the bug**
Running the `blockstack/stacks-blockchain-api-standalone` Docker image in mocknet mode results in the following:

[code]

It also proceeds to spam the console with (appears unrelated):

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `docker run -p 3999:20443 blockstack/stacks-blockchain-api-standalone mocknet`

**Expected behavior**
Defaulting to the proper chain

[2021-03-25 21:33] MarvinJanssen opened #524 "Mocknet conf. in blockstack/stacks-blockchain-api-standalone no longer contains private keys"
## Describe the bug

`Stacks-mocknet.toml` used to contain the private keys of the test addresses seeded with STX as comments. This is no longer the case. It would be nice for (new) developers if they are added back.

[code]

[2021-03-26 04:10] #190 closed

[2021-03-26 13:27] zone117x opened #526 "Update contributing.md"
We're now using a `develop` branch that all PRs should be opened against, unless it's a high/critical priority bugfix.

The `develop` branch will generally require running alongside a stacks-node that was also compiled from it's own `develop` branch.

[2021-03-26 16:04] zone117x commented on #517
@asimm241 @noumanahmads is this something either of you can look into?

[2021-03-26 16:56] #520 closed

[2021-03-26 18:00] asimm241 commented on #517
sure.

[2021-03-28 23:18] iamgenchi opened #527 "Testnet Faucet is unusable"
**Describe the bug**
Faucet is unusable

**To Reproduce**
Steps to reproduce the behavior:
1. Post to `https://stacks-node-api.testnet.stacks.co/extended/v1/faucets/stx?address=YOUR_ADDRESS&stacking=true`

[code]

Doing from the explorer does the same thing:

<img width="1636" alt="image" src="https://user-images.githubusercontent.com/81058044/112771581-3a171a80-9078-11eb-8cf2-1c324ac02ae1.png">

[2021-03-28 23:29] iamgenchi commented on #247
Requesting testnet stacks for stacking fails

https://github.com/blockstack/stacks-blockchain-api/issues/527

[2021-03-29 06:13] asimm241 commented on #517
@hstove how do I determine the registrar endpoint?
cc: @jcnelson

[2021-03-29 10:22] noumanahmads commented on #303
I think this is already implemented in this [commit ](https://github.com/blockstack/stacks-blockchain-api/commit/01703e7222828b6df2ed1ed0e26de3e9ae18d11e)
If there is something else to be taken care of here please let me know.

[2021-03-29 13:58] noumanahmads commented on #307
I am working on this one.
I think here we should have implementation for a couple of endpoints

- /tx/block/[block_hash]
response:
[code]
- /address/[address]/mempool
response:
[code]
@zone117x

[2021-03-29 14:20] rllola commented on #505
@pablojorge
The PR is here. However there is a breaking change. It is now not allow to have a `fee` operation in the operations array. It is to avoid confusion.

I hope it works for you.

[2021-03-29 14:24] rllola opened #529 "[Rosetta] Creating a transaction required 2 operations to be defined"
We can see that in order to create a transaction using the `/construction` endpoints, it currently require to define 2 operations : one with a positive amount and an opposite one with the same amount but negative.

See https://github.com/blockstack/stacks-blockchain-api/blob/master/src/tests-rosetta/api.ts#L1437-L1477

We could have only one and use `metadata` to define the recipient of the transa

[2021-03-29 14:51] agraebe commented on #303
fantastic!

[2021-03-29 14:51] #303 closed

[2021-03-29 15:31] jcnelson commented on #518
Would it be sufficient to just add a "special case" for certain contract-calls -- i.e. for PoX delegation?

[2021-03-29 16:25] aulneau commented on #518
Perhaps -- it seems for my specific use case (related to stacking.club), being able to query all events of a given type would be helpful. Eg if I had all stx_lock events I could construct the state easily.

On the topic of "special case", I personally think that there will be many instances in which we want to see the relationship of calls from various contracts.

[2021-03-30 02:19] iamgenchi commented on #527
@zone117x @kyranjamie @shea256 @muneeb-ali @lgalabru @larrysalibra @kyranjamie

Is there anyone maintaining Blockstack repos?

Do you need help from the community? SPEAK UP! You have a very good ecosystem but lack of handling direct developers and users feedback is a great concern.

There are many things that are frustrating for Stacks developers:
- Testnet Faucets are not working
- Most documenta

[2021-03-30 06:47] zone117x commented on #527
Hi @iamgenchi, the testnet hasn't been usable for several days due to a slow syncing issue. It's being worked on, the #stacks-testnet or #stacks-core-devs channels on Discord.

Perhaps you can raise these concerns on Discord or the forums?

https://community.stacks.org/discord

https://forum.stacks.org/

[2021-03-30 08:08] zone117x commented on #307
@noumanahmads That looks good to me!

[2021-03-30 13:36] #527 closed

[2021-03-30 14:11] larrysalibra commented on #527
@diwakergupta Can you share a link to the github issue where there is more information about the testnet problems? 🙏

[2021-03-30 14:23] diwakergupta commented on #527
"Testnet problems" is perhaps too vague. The specific issue we've been having on testnet is that syncing is too slow -- so if you spun up a new node, it would take prohibitively too long to sync. Any existing nodes that are not restarting are not impacted. The relevant issue is https://github.com/blockstack/stacks-blockchain/issues/2407.

Meanwhile, I will note the Hiro-operated testnet nodes did

[2021-03-30 15:13] agraebe commented on #529
is this fixed with #528 ?

[2021-03-30 15:27] agraebe commented on #523
this seems to be a bug - would you be able to create a PR based on your workaround?

[2021-03-30 16:15] zone117x commented on #524
These can be found here https://github.com/blockstack/stacks-blockchain-api/blob/b6fcf1fc6696d6ab97193018d0a619d0ca4e4a5b/src/api/routes/debug.ts#L42-L55

[2021-03-30 17:45] MarvinJanssen commented on #524
@agraebe yes this is just a quality of life thing for developers. Other toml files include(d) the private keys so it is nice if everything is in one spot.

[2021-03-31 08:25] #524 closed

[2021-03-31 08:35] zone117x commented on #505
Closed by https://github.com/blockstack/stacks-blockchain-api/pull/528

[2021-03-31 08:35] #505 closed

[2021-03-31 16:52] hstove opened #534 "Support 1.0 subdomains on `/v1/names/:fqn`"
The `/v1/names/:subdomain` API works well for newly registered subdomains. However, it's not working for subdomains imported from 1.0. For example, this should resolve to a subdomain: https://stacks-node-api.testnet.stacks.co/v1/names/hank_testing_add_username.id.blockstack

We need support for these imported subdomains in order to restore app functionality. If there are other workarounds to fetch

[2021-03-31 16:55] hstove commented on #517
I am not sure how this was handled in stacks 1.0. There was some kind of mapping on the core node between ID -> registrar URL. I think a short-term fix would be to simply support these mappings through some configuration.

[2021-03-31 17:00] diwakergupta commented on #517
@jcnelson can you add some context on how this was handled in Stacks 1.0? (this had come up in one of the Monday meetings recently)

[2021-03-31 17:12] jcnelson commented on #517
In Stacks 1.0, each name's zone file had an optional `URI` record called `_resolver` which contained the URL to the subdomain registrar.  If the Stacks 1.0 node did not yet have the name record, it would reply with an HTTP 302 to the URL in this record.  The subdomain registrar itself implemented the `/v1/names` endpoint, so it could handle name lookup requests (in fact, the HTTP 302 would be dire

[2021-04-01 06:15] #504 closed, assigned to zone117x

[2021-04-01 10:38] markmhx commented on #517
This enhancement is quite critical for restoring username registration in production apps and should go live before we restore such user paths in our wallet products.

@asimm241 does it look possible to address this by sometime next week?

[2021-04-01 10:43] asimm241 commented on #517
Yes! I have started working on it.

[2021-04-02 11:20] noumanahmads opened #537 "Rosetta api validation tests with rosetta-cli"
The tests should build and run the rosetta-cli docker-container. It should perform some test transactions (transfer, deploy contract, etc), and then validate the resulting output from rosetta-cli.

These tests are already implemented [here](https://github.com/fariedt/stacks-blockchain-api/tree/feat/tests-rosetta-cli) but failing.
Changes would be required once the rosetta updates are done.

More d

[2021-04-02 23:18] pablojorge commented on #505
Thanks @rllola, I could only test these changes today. They work fine, I refactored how to send the fee back to the API.

There's one issue, though. `suggested_fee` should be an _array_ of values (https://www.rosetta-api.org/docs/models/ConstructionMetadataResponse.html). I think it was already declared wrongly:

https://github.com/blockstack/stacks-blockchain-api/blob/master/docs/api/rosetta/rose

[2021-04-05 15:12] friedger opened #539 "Show abort_by_response instead of abort_by_post_conditions"
**Describe the bug**
If a contract call fails that had post conditions the tx status is shown as `abort_by_post_conditions`. However, post conditions should not be checked as the tx failed anyway.

**Expected behavior**
Show tx status as `abort_by_response`

**Additional context**
failed contract call with post conditions while calling redeem-stinger of https://explorer.stacks.co/txid/STSJHY3X84C0

[2021-04-05 15:26] zone117x commented on #539
I don't think this is an API issue. There's no API code that conditionally changes the `abort_by_post_conditions` vs `abort_by_response` status, it comes from the stacks-node event stream. There's tests exercising the tx status string being stored and read from the db, for both these failure modes.
https://github.com/blockstack/stacks-blockchain-api/blob/e625623ae5daa78096dbd6e510ad4240bf8e87f8/sr

[2021-04-05 19:27] aulneau commented on #515
@agraebe following up on this -- curious if this can be prioritized on the platform teams schedule?

[2021-04-06 08:47] zone117x commented on #515
The wiring for importing this Stacks v1 data is now available in the develop branch, we can start work on this 👍

[2021-04-06 11:04] noumanahmads commented on #534
@hstove
I have checked some subdomains from the imported data.  For example

https://stacks-node-api.testnet.stacks.co/v1/names/alese.id.blockstack
https://stacks-node-api.testnet.stacks.co/v1/names/alb.id.blockstack
https://stacks-node-api.testnet.stacks.co/v1/names/dmc.id.blockstack

They are giving me the information using the API `v1/names/:subdomain`
But I am unable to find the subdomain `han

[2021-04-06 14:46] agraebe commented on #464
this is completed now, right?

[2021-04-06 14:46] #464 closed

[2021-04-06 14:48] #317 closed

[2021-04-06 15:19] dantrevino opened #540 "CORS errors when accessing api"
**Describe the bug**
Increased requests to the API from a client seem to be triggering CORS errors.

Requests can be reduced on the client for subsequent needs, once an initial download is done, but these are failing the first time we're trying to populate data.

**To Reproduce**
Steps to reproduce the behavior:
1. call a contract function on 300 assets, like get-meta on an nft.

**Expected behavi

[2021-04-06 15:32] diwakergupta commented on #540
@dantrevino to clarify, you only see CORS errors at higher request rates but not otherwise? Trying to understand whether you're actually hitting a CORS limitation (which should show up regardless of request volume) or a rate-limit error which is being propagated incorrectly as a CORS issue.

[2021-04-06 15:50] dantrevino commented on #540
We're not seeing this with a low number of requests.  For instance, in my personal account, I have only 20, and never see this error on mainnet.

[2021-04-06 16:01] aulneau commented on #540
Anecdotally, I've noticed similar errors or failures when fetching certain data from `/v2/` endpoints relating to values found in the pox contract, eg `get-total-ustx-stacked` sometimes returns broken. Previously stacking.club would query that value occasionally, but I have since removed dependency on it outside of an initial fetch due to the sporadic response issues. I have not personally seen if

[2021-04-06 17:26] zone117x commented on #540
I'm not quite sure what to make of this issue. @dantrevino and @aulneau both indicate issues with `/v2/` endpoints, implying some issue with CORS there. The this repo's proxy doesn't handle any rate limiting or CORs header injecting, so my assumption is something is wrong with either the stacks-node CORs handling or something in the deployment. Perhaps cloudflare or similar can be inspected to ove

[2021-04-06 18:32] CharlieC3 commented on #540
For paths `v2/contracts/call-read/SP497E7RX3233ATBS2AB9G4WTHB63X5PBSP5VGAQ*`, Cloudflare is showing ~1000 requests resulting in a `499` (Client closed request), and ~300 requests resulting in a `502` (Bad Gateway) over the past 12 hours. Some thoughts below:

* It's possible the traffic was being routed through Nginx while one of our servers was restarting, but that would be extremely rare, and su

[2021-04-06 18:41] CharlieC3 commented on #540
Also, it looks like the main error is the `404` near the top of the screenshot. I'm also getting a `404` when visiting that page:
https://release-0-0-5--quizzical-haibt-0eb096.netlify.app/__headers

Perhaps it's a legitimate error? And while the subsequent CORS errors do happen, they may not be the reason behind the uncaught exception.

[2021-04-06 18:48] dantrevino commented on #540
the _headers file is a relic of the legacy stacks auth, where it required cors access on manifest.json to access that file remotely ... netlify uses that file.  Here are the contents:
[code]

[2021-04-06 18:56] aulneau commented on #540
this is the error that stacking.club would get when calling `v2/contracts/call-read/SP000000000000000000002Q6VF78*`, and I fairly certain the errors would happen when nothing was changing as far as restarts were concerned (as far as I am able to tell). @CharlieC3 do you know what other issues could cause 502s?

[2021-04-06 19:54] CharlieC3 commented on #540
Some of those CORS headers weren't being allowed. I adjusted our settings to allow all of those headers for the API. We're aligned with the other settings on origin and methods. @dantrevino  Can you please try calling a contract function on 300 assets again and let me know what you see?

@aulneau I can see from the logs the traffic is making it through Nginx, and the API is responding with a `502`

[2021-04-06 20:37] friedger commented on #540
I see (now?) a cors error from using the Stacks Wallet for Web:

"Unable to fetch account data from https://stacks-node-api.testnet.stacks.co" due to CORS

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://stacks-node-api.testnet.stacks.co/extended/v1/tx/mempool?limit=30. (Reason: header ‘x-hiro-product’ is not allowed according to header ‘Access

[2021-04-06 20:48] CharlieC3 commented on #540
@friedger Will follow up with you outside this thread. The CORS settings might need some adjustments.

[2021-04-06 21:17] CharlieC3 commented on #540
@dantrevino We've confirmed the stacks-nodes behind the API are beginning to suffer from a known resource exhaustion bug which may appear after a node has been running for a while. Let's re-test this tomorrow once replacement nodes are serving live traffic. For now, I've disabled CORS in testnet/mainnet because of a possible issue with the Stacks Web Wallet in Firefox (issue pending).

[2021-04-06 23:53] diwakergupta commented on #540
FYI this is issue https://github.com/blockstack/stacks-blockchain/issues/2552 which is fixed in `develop` (and available in `2.0.11-rc2`)

[2021-04-07 07:09] 314159265359879 commented on #540
I no longer get the error, >350 NFT's loading perfectly again. Thanks!

[2021-04-07 10:24] zone117x opened #541 "`v1-import` should store addresses in STX format"
It is an issue with `stacks-blockchain-api` specifically with `v1-import`. We should open up an issue there !.
@zone117x should we convert addresses to `stx addresses` before updating the DB or convert them in the API?

_Originally posted by @asimm241 in https://github.com/blockstack/subdomain-registrar/issues/48#issuecomment-814781991_

[2021-04-07 13:09] asimm241 commented on #541
I have started working on it !

[2021-04-07 13:46] CharlieC3 commented on #540
That's great! I switched traffic to the new API + followers about 12 hours ago, so it makes sense that the CORS issue was likely a mask for an underlying performance problem.

@dantrevino Are you ok with closing this issue? We can re-open it if you start seeing it again.

[2021-04-07 14:39] dantrevino commented on #540
Yup!

[2021-04-07 14:39] dantrevino commented on #540
Thanks for the quick action everyone!

[2021-04-09 11:15] zone117x commented on #515
Some context on this issue:

There are a set of addresses that come from Stacks 1.0 that have a STX vesting/unlocking schedule. At set block heights, the stacks-node will credit STX to these address. The stacks-node emits `stx-mint` events when this happens, however, there's no way to determine the full locked balance for these addresses from the stacks-node.

NOTE: these locked balances are compl

[2021-04-09 12:11] markmhx commented on #534
@asimm241 @zone117x poke ☝️

[2021-04-09 17:14] shermanxiong opened #544 "[Rosetta] Offline Construction API"
### Context:
Rosetta-Api requires Construction API to be able to be run in a [completely offline environment](https://www.rosetta-api.org/docs/construction_api_introduction.html#completely-offline). This is a hard requirement from Coinbase for security reasons. Production transaction testing cannot commence without it.

As far as I can tell, the Stacks-API implements stacks `/v2` routes and `/rose

[2021-04-11 18:48] #216 closed

[2021-04-12 16:35] #517 closed

[2021-04-12 23:02] agraebe commented on #474
am I assuming correctly that with https://github.com/blockstack/stacks-blockchain/pull/2459 being merged, this issue can be closed? the API update is not yet rolled out it looks like (just tested)

[2021-04-12 23:29] agraebe commented on #539
@jcnelson do you agree that this should be a stacks-node change?

[2021-04-12 23:30] agraebe commented on #537
@noumanahmad001 are you working on this already or not yet?

[2021-04-12 23:45] agraebe commented on #468
pinging @kantai to move this conversation along :)

[2021-04-12 23:48] agraebe commented on #415
is this still relevant (with the mentioned PR merged in)?

[2021-04-12 23:50] agraebe commented on #350
@zone117x is this still relevant?

[2021-04-12 23:57] agraebe commented on #307
with the PR merged, can this be closed @noumanahmads ?

[2021-04-13 07:13] noumanahmads commented on #537
@agraebe not yet.

[2021-04-13 07:15] noumanahmads commented on #307
@agraebe
Yes this can be closed

[2021-04-13 09:06] #307 closed

[2021-04-13 09:08] zone117x commented on #350
I agree with @lgalabru that the paths names could be improved, but pretty low priority

[2021-04-13 09:28] zone117x commented on #415
Yeah, the txs generated by the API for this are still incorrect. Per Aaron's comment, we need more info from the stacks-node for these events.

[2021-04-13 12:12] rllola commented on #529
It actually doesn't fit with the Rosetta way as rosetta Construction api operations expect to be exactly the same as the operations shown on the Data api.

After a discussion with CB team it was decided that it should not be implemented to keep the current workflow intact.

[2021-04-13 12:12] #529 closed

[2021-04-13 12:27] kantai commented on #468
Hmm -- I'm not sure where this discrepancy could be coming from. I think to figure this out will require some debugging and analysis. If we can do something like compute and compare these values by block height, that may help to figure out where the difference is coming from.

[2021-04-13 14:46] agraebe commented on #415
do we have an equivalent issue in the stacks-blockchain repo to track that request? I'd say we put this API issue in the icebox while we wait for the upstream info to be available

[2021-04-13 15:10] agraebe commented on #500
seems to be a deployment documentation task. can @blockstack/devops help?

[2021-04-13 15:14] #541 closed

[2021-04-13 15:22] agraebe commented on #432
this would require a reference update inside `stacks-blockchain` cc @kantai

[2021-04-13 15:27] kantai commented on #432
So I think the best nomenclature to go with is what is documented in the Clarity ref:

Lets take the first instance (u1) of ST1JSH2FPE8BWNTP228YZ1AZZ0HE0064PS54Q30F0.beeple-6x::non-fungible-token.

* `asset class`: in this case, it would be `non-fungible-token`
* `fully qualified contract`: in this case, `ST1JSH2FPE8BWNTP228YZ1AZZ0HE0064PS54Q30F0.beeple-6x`
* `asset identifier`: in this case, it w

[2021-04-13 15:29] zone117x commented on #474
The stacks-node release candidate has this fixed. The API should remove the `/v2/pox` override code here:
https://github.com/blockstack/stacks-blockchain-api/blob/b6fcf1fc6696d6ab97193018d0a619d0ca4e4a5b/src/api/routes/core-node-rpc-proxy.ts#L28-L35

In the meantime, the env var `"V2_POX_MIN_AMOUNT_USTX"` should be left unspecified in new deployments using the current stacks-node RC, and the API w

[2021-04-13 15:30] agraebe commented on #534
we confirmed that the imports worked as expected. a few checks were completed with success. can close this for now. please open if there's anything else to discuss

[2021-04-13 15:30] #534 closed

[2021-04-13 15:46] zone117x commented on #355
It looks like the microblock event stream PR https://github.com/blockstack/stacks-blockchain/pull/2571 _should_ have everything the API needs at this point. Work on the API can begin against that branch.

[2021-04-13 16:32] agraebe commented on #432
is this in event schema in the API or the node (ie should we transfer this issue over for review/prio in the other repo)?

[2021-04-13 16:47] kantai commented on #468
After looking more into this, I think this query needs to account for STX burn events (from the BNS contract for example):

https://explorer.stacks.co/txid/0xdaafe4f0df756809a5b4df87ffdda362b67bc607a8903e598a71e1a1438c69ae?chain=mainnet

[2021-04-14 03:03] agraebe commented on #506
is there something left that was not covered by the referenced PR @friedger ?

[2021-04-14 03:09] agraebe commented on #312
can this be closed @zone117x? I see the types package is `@blockstack` - we should update that as well ( ref #194 )

[2021-04-14 10:30] boohyung opened #548 "npm run dev error"
Hi, I want to execute postgres and stacks-blockchain-api(API Server) v0.55.3 "manually" because I already have manual stacks-node(built from https://github.com/blockstack/stacks-blockchain repo). But I encountered the error. What should I do for resolving problem?

[what I did]
[code]

[error]
[code]

[2021-04-14 11:31] zone117x commented on #548
Looks like you are probably running an older version of NodeJS which doesn't support the `??` operator. Update to the current active LTS version (v14.x).

[2021-04-14 11:49] boohyung commented on #548
Thanks!! But PostgreSQL is not set. I can't find the PostgreSQL setting guide. Can you tell me where I can find it?

[2021-04-14 12:27] zone117x commented on #548
See the following env vars for postgres:
https://github.com/blockstack/stacks-blockchain-api/blob/e625623ae5daa78096dbd6e510ad4240bf8e87f8/.env#L1-L5

[2021-04-14 13:25] zone117x commented on #500
The last known issue is regarding the stacks-node restart behavior described here https://github.com/blockstack/stacks-blockchain/issues/2575
The API currently does everything it can to facilitate a graceful restart. Closing this issue.

[2021-04-14 13:25] #500 closed

[2021-04-14 13:30] zone117x commented on #415
Issue created https://github.com/blockstack/stacks-blockchain/issues/2591

[2021-04-14 22:29] #284 closed

[2021-04-14 23:45] boohyung commented on #548
Thank you for your suport @zone117x

[2021-04-15 07:27] #548 closed

[2021-04-15 14:51] kantai commented on #432
I think it's both -- the event dispatcher in the `stacks-blockchain` repo uses this wrong nomenclature, and then there's endpoints in the API that do as well.

[2021-04-15 14:52] zone117x commented on #393
Update:

At the moment, the `v1-import` data is only used for BNS, and is optional. If the export files are not specified, the API will run without full BNS support. This is _probably_ the right setup for BNS subdomains, because the import process is lengthy, the subdomain dataset files are large, and many entities running an API, like exchanges, likely don't need any BNS support.

However, this i

[2021-04-15 15:20] zone117x commented on #423
Just noticed that https://github.com/blockstack/stacks-blockchain-api/issues/515 is a dupe of this issue. However, the newer issue has more useful info so I'm closing this one as the dupe.

[2021-04-15 15:20] #423 closed

[2021-04-16 09:53] #511 closed

[2021-04-16 09:54] #468 closed

[2021-04-16 09:54] #474 closed

[2021-04-16 14:23] asimm241 opened #554 "Fix fqn issue in subdomains v1-import"
**Describe the bug**
Subdomain name should be the name part instead of `fully qualified name` in v1-import script.

**To Reproduce**
run v1-import script and check the `name` part of any `stacks 1.0` subdomains in the subdomain table, It will show the fully qualified name in the name field.

**Expected behavior**
There should be only the name part in the subdomain `name` field.

[2021-04-17 12:54] rllola commented on #505
Just to let you know that we have a PR for this : https://github.com/Zondax/stacks-blockchain-api/pull/50

It has been internally reviewed. We are waiting for it to be merge upstream once higher priority changes have been merged.

[2021-04-17 16:13] pablojorge commented on #505
Great news, thanks! I see you're also bringing back the fee operation 👍

I'll keep an eye on that PR

[2021-04-19 13:28] #194 closed

[2021-04-19 13:28] #554 closed

[2021-04-20 03:51] boohyung opened #558 "How to query blocks and transaction using RPC"
Hi all. I want to make stacks 2.0 environment for local development(not docker). So I have built stacks-node(GitHub - blockstack/stacks-blockchain: The Stacks 2.0 blockchain implementation) and started node for connecting the mainnet. After I installed postgresql 12.2 and set the DB and user. And I’m trying to connect the node using stacks-blockchain-api(GitHub - blockstack/stacks-blockchain-api:

[2021-04-20 11:55] zone117x commented on #558
How are you running `stacks-node`? Did you configure the event observer? If you run all the dependencies yourself, you need to replicate the correct config. Event observer can be configured with an env var like this https://github.com/blockstack/stacks-blockchain-api/blob/e625623ae5daa78096dbd6e510ad4240bf8e87f8/docker-compose.dev.stacks-blockchain.yml#L9

You should also refer to this repo for ad

[2021-04-20 12:04] #369 closed

[2021-04-20 17:42] #519 closed

[2021-04-21 05:52] boohyung commented on #558
@zone117x

I didn't configure the event observer. Now I added as shown below.

stacks-node config: stacks-config.toml
[code]

But stacks-node is stucked after registering event observer. So it doesn't listen to the rpc port either.

stacks-node log:
- command to start: ./stacks-node start --config=stacks-config.toml

[code]

What should I do?

[2021-04-21 10:26] zone117x commented on #544
Closed by #545

[2021-04-21 10:26] #544 closed

[2021-04-23 00:05] boohyung commented on #558
@zone117x Please I'm waiting any update, comment or information for solving the problem.

[2021-04-23 04:58] #294 closed

[2021-04-23 04:58] #295 closed

[2021-04-23 11:35] zone117x commented on #558
Looks like the API is not reachable at `127.0.0.1:3700`. Have you checked if that port is accepting http requests when you see the error message `Event dispatcher: connection failed - Os { code: 111, kind: ConnectionRefused, message: "Connection refused" }` ?

[2021-04-23 19:59] hstove opened #564 "When resolving registrar URL, the result is the URL of the API itself"
The latest issue around subdomain registrations is that, when you try and resolve an unregistered subdomain, the request fails because of an infinite redirect.

URL to try: https://stacks-node-api.stacks.co/v1/names/some_unregistered_name.id.stx

I believe this is because the [DB query](https://github.com/blockstack/stacks-blockchain-api/blob/7f8886024a4caf0d57a825dc2b526e6b94c4c1ef/src/datastore/

[2021-04-25 00:16] friedger commented on #506
Closed by #507. I'll open a new one if I find more.

[2021-04-25 00:16] #506 closed

[2021-04-26 07:13] boohyung commented on #558
Event dispatcher problem is resolved now. Thanks.

Another problem of stacks-blockchain-api is found. I think the MAINNET block data cannot save to PostgreSQL(already installed postgres 12.2 in my machine)

Error log of stacks-blockchain-api:
[code]

environment variables of stacks-blochain-api:
[code]

Settings of postgreSQL:
[code]

[2021-04-26 07:21] boohyung commented on #558
Now I have change environment variable "PG_USER" stacks -> bhlee due to roles and authority.

[2021-04-27 09:57] zone117x commented on #558
This usually indicates postgres DB is out of sync. It currently has to be wiped if the node + API are restarted from scratch.

[2021-04-27 10:14] boohyung commented on #558
Thanks for your comment. But I found the another problem.

I used latest node and api and opened 3700, 3999, 20444, 8333 port now.

error:
 1. stuck at "stacks_tip_height" 0 burnchain
 2. cannot listen to port 3999 to stacks-blockchain-api

error log(stack-node):
WARN [1619516350.173343] [src/net/rpc.rs:630] [p2p] Failed to get peer info GetInfo(HttpRequestMetadata { version: Http11, peer: PeerHos

[2021-04-27 13:43] #564 closed

[2021-04-28 01:30] boohyung commented on #558
rpc_bind and p2p_bind value is changed and reset DB/remove working_dir.

When a node download bitcoin(burnchain) block data, an error is occurred and sync is so slow.

stacks-node log:
WARN [1619571377.295411] [src/burnchains/bitcoin/network.rs:199] [main] Failed to handshake with 34.86.174.130:8333: Io(Custom { kind: ConnectionReset, error: "I/O error when processing message" }), WARN [1619571378

[2021-04-28 14:35] wileyj commented on #558
This is likely a timeout in the codebase since the connection is taking too long. This IP is a public bitcoin node that is in the US - do you have a local or regionally available bitcoin node you can try?
https://github.com/blockstack/stacks-blockchain-api/issues/558#issuecomment-823796249

essentially you may need to try updating this in your stacks-config.toml (sample update where `10.0.1.100` i

[2021-04-29 14:09] blockstack-devops commented on #564
:tada: This issue has been resolved in version 0.56.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.56.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.56.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.56.0)

[2021-04-29 14:09] blockstack-devops commented on #519
:tada: This issue has been resolved in version 0.56.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.56.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.56.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.56.0)

[2021-04-29 14:10] blockstack-devops commented on #554
:tada: This issue has been resolved in version 0.56.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.56.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.56.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.56.0)

[2021-04-29 14:10] blockstack-devops commented on #369
:tada: This issue has been resolved in version 0.56.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.56.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.56.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.56.0)

[2021-04-29 14:10] blockstack-devops commented on #544
:tada: This issue has been resolved in version 0.56.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.56.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.56.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.56.0)

[2021-04-29 14:10] blockstack-devops commented on #524
:tada: This issue has been resolved in version 0.56.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.56.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.56.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.56.0)

[2021-05-03 13:08] #515 closed

[2021-05-04 16:46] zone117x opened #577 "Add version (git tag) to /extended/v1/status response"

[2021-05-05 09:31] zone117x opened #578 "Contract query returning aborted tx contract info"
The sql query to get deployed contract metadata isn't factor in when a contract was deployed multiple times (1 successfully, others unsuccessfully). The postgres query planner then non-deterministically decides which to return.

This results in errors where the aborted contract tx metadata is used for materializing `contract-call` tx args.

For example, the contract `SP32AEEF6WW5Y0NMJ1S8SBSZDAY8R5

[2021-05-05 14:25] zone117x opened #579 "Store contract-call function ABI json in tx table"
Contract-call tx metadata like the function ABI json should be stored in the tx table for `contract-call` tx types.

Currently the db controller has to perform an additional query for `contract-call` txs to transform the `DbTx` row data into a useful transaction API response object. This introduces transactional consistency bugs due to being two independent sql transaction queries. It's a bottlene

[2021-05-06 12:10] ChuYimeng opened #581 "[TESTNET BUG] rosetta submit API returns SignatureValidation for the correctly signed raw transaction"
## Describe the bug
Today I find that the raw transaction generated by the program written by myself can not success to send rosetta  submit request. In order to verify the rosetta  API, firstly I send the raw transacction returned from faucet api, so the raw transacction must be signed correctly, but Rosetta submit API for  the correctly signed raw transaction returns:

[code]
instead of `nonce t

[2021-05-06 17:19] zone117x commented on #581
Can you provide details on how you're doing this?

Also see this related PR on the rosetta /submit signature format https://github.com/blockstack/stacks-blockchain-api/pull/572

[2021-05-06 19:09] MarvinJanssen opened #582 "/v1/names/*/zonefile endpoint returning empty zone file"
**Describe the bug**
The `/v1/names/*/zonefile` and `/v1/names/*/zonefile/*` API endpoints return an empty zone file at times. The [docs](https://blockstack.github.io/stacks-blockchain-api/#operation/fetch_zone_file) state:

But I do not get an error. Instead, I get a HTTP 200 OK when I [query the endpoint](https://stacks-node-api.mainnet.stacks.co/v1/names/test.btc/zonefile/b07cad4ddd53c09342d603

[2021-05-06 19:56] MarvinJanssen commented on #582
Looking at the code, I am pretty sure it has to do with this:

https://github.com/blockstack/stacks-blockchain-api/blob/37bc66c6b5f9e8a687026810d9b32f2ae104787d/src/event-stream/event-server.ts#L473-L513

So my test TXT entry causes the API to enter the sub domain flow. It therefore seems like arbitrary TXT entries are not possible with the current model? Is there a spec about TXT entries on BNS?

[2021-05-07 02:59] ChuYimeng commented on #581
@zone117x  The raw transaction is from the `txRaw` field of  Faucets API (https://stacks-node-api.testnet.stacks.co/extended/v1/faucets/stx), so the signature must be correct, but Calling rosetta submit API with the raw transaction from Faucets returns `SignatureValidation` rather than `nonce too low`. In addition, The http tool is Postman.

[2021-05-07 03:32] ChuYimeng commented on #581
@zone117x
The raw transaction is from txRaw field:
![image](https://user-images.githubusercontent.com/29088201/117392966-add4fe80-af25-11eb-9f0a-16320da64297.png)

POST rosetta submit:
![image](https://user-images.githubusercontent.com/29088201/117393585-08228f00-af27-11eb-8567-ee47b7819b9f.png)
Expected error is `nonce too low` rather than `Invalid signature`.

[2021-05-07 13:16] zone117x opened #583 "Store raw event payloads in db"
Store the raw POST payloads received by the event server in the db. Should probably be a single table with a schema like:
[code]

[2021-05-07 16:32] zone117x commented on #581
See this PR for context around signature formatting for Rosetta endpoints: https://github.com/blockstack/stacks-blockchain-api/pull/572

Rosetta supports signatures with the `r (32-bytes) || s (32-bytes) || v (1-byte)` format, where the `stacks-node` expects a different ordering. See https://github.com/coinbase/rosetta-specifications#supported-signaturetypes

[2021-05-07 17:00] mostafaamr137 opened #584 "/v1/addresses endpoint returning empty names array"
**Describe the bug**
addresses end point https://stacks-node-api.stacks.co/v1/addresses/stacks/${stxAddress} returns an empty array

**To Reproduce**
Steps to reproduce the behavior:
1. https://stacks-node-api.stacks.co/v1/names/mostafaamr137.id.blockstack
2. you can see that this is registered subdomain with address SP3272W9PE0P9CY1K8SFM0BS6HMAB50M2BTFZ0AG1
3. now going to the addresses end point

[2021-05-07 21:51] zone117x commented on #582
Found the corresponding error log entry for these txs:
[code]

Yep looks like this is currently the situation, but I think it's a bug. If a `ZoneFileTXT` can't be parsed out of the zonefile content, it probably shouldn't go down the subdomain path at all.

cc/ @asimm241

[2021-05-08 00:02] MarvinJanssen commented on #582
Thanks @zone117x. The missing $ORIGIN one is due to an earlier mistake on my part. The later transactions did include an $ORIGIN. (See the OP.)

I understand sub domains are encoded in TXT records? Is there more information to be found about it somewhere? (Observing `parseZoneFileTxt()`:)

https://github.com/blockstack/stacks-blockchain-api/blob/37bc66c6b5f9e8a687026810d9b32f2ae104787d/src/bns-hel

[2021-05-08 03:13] ChuYimeng commented on #581
@zone117x  thanks, rosetta has different  signature format.

[2021-05-08 03:13] #581 closed

[2021-05-10 07:30] LNow opened #588 "Stop using sudo in follower.Dockerfile"
**Is your feature request related to a problem? Please describe.**
User starting services inside container should not have root privileges nor be member of sudoers group.
https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#user

**Describe the solution you'd like**
Modify `stx-rosetta.Dockerfile` and `follower.Dockerfile` in such way, that services inside containers will be s

[2021-05-10 07:51] LNow commented on #588
This is how `follower.Dockerfile` would look without `sudo`:

[code]

It is also possible to reduce size of final images down to ~800Mb by reorganizing code a little bit.

[2021-05-10 11:38] zone117x commented on #582
The https://github.com/blockstack/subdomain-registrar codebase is probably the best source of truth for the subdomain zonefile encoding.

[2021-05-10 15:08] zone117x opened #589 "Emit prometheus metrics for socket.io activity"
The new socket.io server events could become one of the primary sources of data for the wallets and explorer (ideally, those clients should eventually switch any polling over to these events).

The current prometheus-express middleware does not capture meaningful data on socket.io usage like it currently does for regular http requests.

[2021-05-10 16:33] agraebe commented on #393
the linked PR is merged, I assume this can be closed? reopen if I'm wrong

[2021-05-10 17:21] MarvinJanssen commented on #582
I agree, and if zone files with TXT records that do not conform to the sub domain mechanism are still indexed, that would be great as well. (Instead of saving an empty string.)

[2021-05-10 17:31] asimm241 commented on #582
The Error is due to missing `URI` not the `$ORIGIN`  and `URI` is important for the subdomain redirect feature.

[2021-05-10 18:46] GCrispino opened #591 "Rosetta's /network/options switching between slightly different responses"
**Describe the bug**
When requesting the `/rosetta/v1/network/options` endpoint, the error 613's object (inside the response's `allow.errors` array) sometimes has the `details` property set, and sometimes not.
I'm not really sure if this is expected behavior, but I'm using [Rosetta's Go SDK](https://github.com/coinbase/rosetta-sdk-go) and when this error object has the details property set, the SD

[2021-05-11 10:36] zone117x commented on #591
@GCrispino can you open an issue in the Rosetta Go SDK repo? It looks like a bug on their end. The `details` field appears to be supported https://www.rosetta-api.org/docs/models/Error.html

[2021-05-11 10:45] zone117x commented on #582
Closed by https://github.com/blockstack/stacks-blockchain-api/pull/592

[2021-05-11 10:45] #582 closed

[2021-05-11 11:35] GCrispino commented on #591
Sure, that sounds right.

However, the Stacks API doesn't always return the error object with the details field. Isn't this unexpected behavior? If you repeat the request a few times you might notice this.

[2021-05-13 10:41] zone117x commented on #584
Closed by https://github.com/blockstack/stacks-blockchain-api/pull/594

[2021-05-13 10:41] #584 closed

[2021-05-14 15:56] jcnelson opened #604 "Availability of /v1/names/{name}/history?"
Hi folks,

@Exulansis (from Jolocom) is coming up to the point in his implementation of the DID resolver where he needs to be able to query the history of txids for a name in order to resolve a DID to its _current_ public key (i.e. in the face of multiple name-transfers and name-renewals).  Is there an ETA when this will be implemented?  Right now it seems to be stubbed to 404.

[2021-05-15 20:54] aulneau opened #605 "Query by contract principals in mempool transactions endpoint"
Currently you can only pass standard principals for any of the address fields found here:
https://blockstack.github.io/stacks-blockchain-api/#operation/get_mempool_transaction_list

There are many use cases where it is helpful to query for mempool transactions where a contract principal is a participant, it would be helpful to use this endpoint to fetch pending transactions for a given contract.

[2021-05-17 15:38] agraebe commented on #355
for the record, there are 2 more PRs related to this:
- https://github.com/blockstack/stacks-blockchain/pull/2654
- https://github.com/blockstack/stacks-blockchain-api/pull/576

[2021-05-17 16:51] agraebe commented on #591
did the PR resolve your issue @GCrispino? should we close the issue?

[2021-05-17 17:00] GCrispino commented on #591
@agraebe I think so, but haven't tested anything. @zone117x it was fixed, wasn't it?

[2021-05-18 15:24] agraebe commented on #604
it'll be difficult for us to prioritize this right now. is there an expectation for this to be completed soon (any dependencies we have)?

[2021-05-18 15:25] agraebe commented on #588
hey @LNow - this might be an old docker file. @wileyj to chime in.

It would be fantastic if you could create a PR with your suggestions. Is that possible?

[2021-05-18 15:30] wileyj commented on #588
rosetta dockerfile has been updated : https://github.com/blockstack/stacks-blockchain-api/blob/master/stx-rosetta.Dockerfile

I'll take a look at the follower dockerfile, but that might be something that can be removed entirely since it should be built from https://github.com/blockstack/stacks-blockchain/blob/master/Dockerfile

[2021-05-18 16:13] jcnelson commented on #604
I'll let @Exulansis answer that.

[2021-05-19 15:22] mostafaamr137 commented on #584
i have noticed that there is a release happened yesterday and it include the fix for this issue at commit https://github.com/blockstack/stacks-blockchain-api/commit/20bb6f3e6f528162c17c2e7eb560630585edab2c
but the issue is still there so i wanted to confirm.

[2021-05-19 15:59] blockstack-devops commented on #578
:tada: This issue has been resolved in version 0.61.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.61.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.61.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.61.0)

[2021-05-19 15:59] blockstack-devops commented on #582
:tada: This issue has been resolved in version 0.61.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.61.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.61.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.61.0)

[2021-05-19 23:28] aulneau commented on #605
cc @agraebe

[2021-05-25 11:35] Exulansis commented on #604
Thank you @jcnelson for opening this issue, and thank you @agraebe for the response,

Wrgt. timelines -- this feature would be required for our [DID resolver implementation](github.com/jolocom/stacks-DID-Resolver) to be fully functional. The resolver is still being developed, but the intention is to finalize it in the upcoming month(s). The current time frame we have for the resolver implementatio

[2021-05-27 08:44] zone117x opened #614 "BNS names "disappear" during re-orgs"
When a name is registered or updated, it has a boolean flag `latest` set to `true`. The purpose of this flag is to allow fast enumeration of lists of names given various filtering criteria. Without the `latest` flag, then endpoints like `/v1/namespaces/{tld}/names` would have to perform an inefficient recursive JOIN to identify the latest status for each possible name it could return. The `namespa

[2021-05-27 12:36] aulneau commented on #614
cc @andresgalante for visibility.

This bug will create issues in the extension and any app wanting to use names.

[2021-05-27 12:52] aulneau opened #615 "Expose associated transactions for FT/NFTs for a given address"
We have an endpoint that does this but only for transactions that have a token transfer (stx) event -> https://blockstack.github.io/stacks-blockchain-api/#operation/get_account_inbound

We need an ability to see these kind of events for FT and NFT tokens too.

Until this is exposed via the API, the wallets won't be able to display incoming transactions from others that result in some amount of a t

[2021-05-27 13:37] diwakergupta commented on #614
@asimm241 could you or @noumanahmad001 take this on?

[2021-05-27 19:29] asimm241 commented on #614
sure !

[2021-05-28 07:59] #332 closed

[2021-05-30 09:37] mostafaamr137 opened #618 "/v1/addresses endpoint returning empty names array"
**Describe the bug**
addresses end point https://stacks-node-api.stacks.co/v1/addresses/stacks/${stxAddress} returns an empty array

**To Reproduce**
Steps to reproduce the behavior:
1. https://stacks-node-api.stacks.co/v1/names/mostafaamr137.id.blockstack
2. you can see that this is registered subdomain with address SP3272W9PE0P9CY1K8SFM0BS6HMAB50M2BTFZ0AG1
3. now going to the addresses end point

[2021-06-01 12:30] asimm241 opened #621 "Create separate table for zone file content"
The `zonefile` content should be stored as relational data in a separate table. The BNS related queries can do a simple JOIN against that table using the zonefile_hash to retrieve the content.

See here: #614

[2021-06-01 13:48] kyranjamie opened #622 "Singular tx with STX transfer events endpoint"
The wallet's now consuming the [`get_account_transactions_with_transfers`](https://blockstack.github.io/stacks-blockchain-api/#operation/get_account_transactions_with_transfers) endpoint.

It would be helpful if there were an endpoint that will return the same format, so it can be used consistently throughout.

[2021-06-01 15:37] agraebe commented on #618
@asimm241 to take a look

[2021-06-01 15:46] mostafaamr137 commented on #618
i have submitted the same issue before and it got fixed and released at v0.61 but this case is still happening with me.
the old issue link: https://github.com/blockstack/stacks-blockchain-api/issues/584

[2021-06-02 13:07] HariniRajan397 commented on #614
Hi, We have a similar name "disappearing" issue reported by one of our users of BlockSurvey. This user has been using BlockSurvey for one month and suddenly we couldn't find his name. Because of this, authentication fails in Stacks.js as the coreApiUrl call verification to find the id comes as null.

His id is "nomadcarl.id.blockstack". I couldn't find this name anywhere.

I tried finding the name

[2021-06-02 13:20] asimm241 commented on #614
Yes! Seems like this behaviour is also because of name re-orgs.
I have created the PR for #620. It should be merged after the review by @zone117x.
Also, @zone117x do we have to write some scripts to redeem broken names?

[2021-06-02 13:28] asimm241 commented on #618
I have investigated this on my end, It is working and there is a test case written for this specific case to test it.
I don't know if `v0.61.0` is deployed. @agraebe how do I confirm that?

[2021-06-02 13:34] agraebe commented on #618
It looks like this is the deployed version, based on the [bot comment](https://github.com/blockstack/stacks-blockchain-api/pull/609#issuecomment-844242393). @wileyj or @CharlieC3, can you quickly +1 if that's right? thanks!

[2021-06-02 13:46] CharlieC3 commented on #618
@agraebe `v0.61.0` is only deployed to testnet at the moment. Mainnet is running `0.56.0`. I'll check with Matt to see if we're able to upgrade it today.

[2021-06-04 08:14] #165 closed

[2021-06-06 09:01] mostafaamr137 opened #623 "name-transfer ownership doesn't update the address on /v1/names endpoint"
**Describe the bug**
After making a name-transfer with new owner address it should be updated to the address field for the /v1/names endpoint
for example
this transaction: https://explorer.stacks.co/txid/0x842aa4c610c722b9bd0817b6a38e5ab11126115b78f3e0cb633a61300bde4238?chain=mainnet
updates the name to the new owner address: SPF2HQPGY29464X0TWFVF1J7431HF99TATGE5A87
but this end point: https://sta

[2021-06-07 14:41] zone117x commented on #623
I think the `name-transfer` function in the bns contract is currently buggy https://github.com/blockstack/stacks-blockchain/discussions/2685

[2021-06-07 14:55] CharlieC3 commented on #618
@mostafaamr137 @asimm241 `0.61.0` has been deployed to mainnet! [This URL](https://stacks-node-api.stacks.co/v1/addresses/stacks/SP3272W9PE0P9CY1K8SFM0BS6HMAB50M2BTFZ0AG1) is now returning a valid array.

[2021-06-07 14:55] #618 closed

[2021-06-07 22:18] yknl opened #624 "Confirmed transactions showing up in mempool as pending"
There seems to have been a regression of confirmed transactions showing up as pending in the mempool. For example at the time of this issue opening:

API call to mempool endpoint for address `SP7XSVPCEZFNDWVMQ7F2W5TDQDDHBQZ04NSBFZYE`:
`https://stacks-node-api.stacks.co/extended/v1/tx/mempool?address=SP7XSVPCEZFNDWVMQ7F2W5TDQDDHBQZ04NSBFZYE`

returns

[code]

The last transaction, id `0x6f46f215594

[2021-06-07 23:51] zone117x opened #625 "Unanchored microblock data should be opt-in"
See more details in the TODO section of PR https://github.com/blockstack/stacks-blockchain-api/pull/612

All endpoints should require an `?unanchored=true` param in order to include unconfirmed microblock data. This opt-in is necessary to prevent breaking integrations that expect the `block_hash` property to exist in transaction response objects.

The sql query changes and API handlers have been m

[2021-06-07 23:54] zone117x commented on #622
@kyranjamie could you give a bit more context to this request? I'm not totally sure what's being requested.

[2021-06-08 00:00] zone117x opened #626 "Handle `parent_burn_block_{hash, time, height}`"
See https://github.com/blockstack/stacks-blockchain-api/pull/612 for more details.

Unanchored microblock transactions do not have the _current_ `burn_block_*` properties available, because their block hasn't yet been mined. This means unanchored txs have no property for *time* and little context for linking to related BTC data.

These properties have since been added to the event emitter in PR ht

[2021-06-08 08:50] kyranjamie commented on #622
Yes, sorry. The response format where a transaction & all its summed STX transfers are returned, only exists as an array response of _all_ transactions.

I'd like an endpoint where I can get the same JSON format, but only for a single txid.

[2021-06-08 15:22] zone117x commented on #591
Should be fixed, feel free to reopen if you see it again

[2021-06-08 15:22] #591 closed

[2021-06-08 15:25] GCrispino commented on #591
Awesome, thanks!

[2021-06-08 15:29] zone117x commented on #283
@aulneau anything specific you still want added for this? Most of these should be in the new socket.io features

[2021-06-08 15:33] zone117x commented on #579
Need to create an issue in the stacks-blockchain repo to request this in the event emitter payload

[2021-06-08 19:49] zone117x commented on #622
Ah okay, that makes sense. So something like `/extended/v1/address/{principal}/{tx_id}/with_transfers` right?

[2021-06-21 17:31] agraebe opened #632 "API client references not generated from latest sources"
The API client seems to miss methods for endpoints in the OpenAPI spec

[2021-06-21 18:23] agraebe opened #633 "API client docs cannot be generated"
Inside the `client` folder the `generate:docs` command is available to generate Typedoc references for the API client. The command is currently failing:

[code]

It might be released to an update of typedoc (eg [release v0.20.0](https://github.com/TypeStrong/typedoc/releases/tag/v0.20.0))

[2021-06-22 19:12] agraebe commented on #624
@asimm241 could you please review? thanks!

[2021-06-22 19:22] asimm241 commented on #624
I'm looking into it.

[2021-06-22 21:26] asimm241 commented on #624
@agraebe I haven't figure out exactly what the problem is.
I think it could be because of restoring `MempoolTxs` during re-org but to determine that we need to check the database and look for non-canonical transactions.  I don't have access to that db so I can't do further investigation.

[2021-06-23 15:15] agraebe opened #634 "Add regtest to list of networks"
We currently list mainnet and testnet in the docs: https://github.com/blockstack/stacks-blockchain-api/blob/master/docs/openapi.yaml#L5.

We should add the regtest network as well, available at: `https://stacks-node-api.regtest.stacks.co/`

[2021-06-24 16:25] CharlieC3 opened #636 "Harden API against malicious or invalid HTTP requests"
**Describe the bug**
The API should handle malicious or invalid HTTP requests gracefully.

Contact either @lgalabru or @CharlieC3 for more info.

[Some details can be found here](https://discord.com/channels/621759717756370964/816365424349282334/857652592724803594).

**Expected behavior**
The API should be able to handle malicious or invalid HTTP requests gracefully.

**Screenshots**
Contact eithe

[2021-06-29 14:41] #634 closed

[2021-07-01 19:32] asimm241 commented on #636
As far as the specific issue **I am unable to reproduce issue on my end , It crashes the server but the service never went down.**

After R&D I propose the following changes:
### nginx changes

- add rate limiter
- add_header `X-Content-Type-Options : nosniff.`
- add_header `Content-Security-Policy "default-src 'self'"`.

- blacklist IPs for multiple invalid api request: not sure if we can handle

[2021-07-01 19:43] asimm241 commented on #636
@CharlieC3 I took the basic request `/extended/v1/tx/0x[object%20Object]` and tried some fuzzing and see if the API went down.

[2021-07-01 21:01] CharlieC3 commented on #636
Small update: Discussed with Asim on Discord and Zoom. It seems 1 out of 2 malicious URLs do not cause a crash, but the other consistently does. Asim has narrowed down where this may be happening and is working on applying a patch.

[2021-07-07 11:37] asimm241 opened #639 "Handle re-orgs for the ft/nft metadata tables"
**Describe the bug**
There are forking scenarios that aren't handled by the queries against the ft_metadata and nft_metadata tables.

See details here : https://github.com/blockstack/stacks-blockchain-api/pull/576#discussion_r664776323

[2021-07-07 16:53] zone117x opened #640 "Gather stats on micro-fork rate"
Query for micro-fork rates. This can be a one-time task using the db for the microblock mainnet deployment that has been running for a couple months now.

It would be a useful endpoint to have backed-in as well.

[2021-07-07 17:40] zone117x opened #641 "Integrate live production profiling"
Implement the ability to enable live application profiling (toggled with an env var, process signal, config file, etc).

Ideally the outcome would be a way to see something like a flame graph that shows source line numbers and fully supports CPU and wall time for async functions. Memory allocation visualization would also be helpful.

A cursory overview shows some promising free/open-source option

[2021-07-07 18:02] zone117x opened #642 "Ability to run the API in a read-only mode"
The API currently must be ran in a mode that handles both writing (consuming event-emitter data and performing postgres updates) and reading (serving the public API requests).

It would be useful if the API could be ran in a read-only mode where it's only responsible for serving API requests. It would only perform postgres reads, and would not require running alongside an event-emitter stacks-node

[2021-07-07 19:07] CharlieC3 commented on #642
Would this need to be supported? A read-only API would not have a stacks-node emitting events to it, so I would think the stacks-node would not be able to connect to a read-only API.

Additionally, any API in read-only mode would need another ENV variable to tell it where it can reach a read/write API node. All load-balanced APIs will be behind the same public VIP/subdomain, so a read-only API may

[2021-07-07 19:22] CharlieC3 commented on #641
Ideally the tracing metrics generated would be compatible to be displayed in Grafana. Grafana's open source distributed tracing backend is called [Tempo](https://github.com/grafana/tempo), which uses Jaeger internally. It seems OpenTelemetry generates tracing reports that can be fed into Tempo and displayed in Grafana seamlessly with [this lib](https://github.com/mnadeem/nodejs-opentelemetry-tempo

[2021-07-07 23:46] agraebe commented on #636
this can be closed now, right?

[2021-07-07 23:49] agraebe commented on #623
if this cannot be fixed on the API side of things, should we close this @zone117x ?

[2021-07-07 23:52] #636 closed

[2021-07-08 00:00] agraebe commented on #558
looks like there's no further activity on this issue - should it be closed?

[2021-07-08 02:05] #558 closed

[2021-07-08 02:05] boohyung commented on #558
I have closed now. Thanks.

[2021-07-08 02:15] agraebe opened #644 "BNS documentation difficult to read"
The BNS endpoint documentation (https://blockstack.github.io/stacks-blockchain-api/#tag/bns) uses sentences in the titles, which makes it difficult to read. I'd suggest we keep the name of the endpoint short and add a descriptive sentence.

[2021-07-08 06:58] asimm241 commented on #636
@zone117x do we need to do something about?

[2021-07-08 13:44] zone117x commented on #642
So the problem is clients (e.g. the wallet, explorer, etc) that open a websocket "read" request to the API, and the API needs to push data updates to these clients as they happen. At the moment, a naive implementation of a read-only API instance could not power these websocket notifications, because they are triggered by the API's db write code path. It's certainly possible and reasonable I think

[2021-07-08 14:01] zone117x opened #645 "Search endpoint docs/types broken"
https://github.com/blockstack/stacks-blockchain-api/blob/cab3ab93b96852fcea748d24909f23e5a57e9465/docs/openapi.yaml#L1279-L1285

😬

[2021-07-08 17:35] zone117x commented on #633
Yeah it was related to typedoc breaking changes. I fixed it a while ago in the microblocks branch

[2021-07-08 18:10] CharlieC3 commented on #636
@asimm241 I've created an internal issue to review the nginx suggestions you made above. Thanks again for them!

[2021-07-08 19:14] agraebe commented on #633
ahh, I'll close this issue in that case. can reopen later otherwise

[2021-07-08 19:14] #633 closed

[2021-07-09 15:25] zone117x opened #646 "Do not collect http metrics on websocket connections"
I'm assuming the websocket connections are being reported by the express/prometheus middleware as really slow http responses. It seems possible to filter these from the reporting.

[2021-07-09 16:44] #623 closed

[2021-07-09 18:50] aulneau opened #647 "Fetch by array of ids for various endpoints"
As we have been trying to get a handle on data fetching and many requests, I've often wished I could pass an array of txids to the tx endpoint to batch fetch a set of transactions. The first example of where this would be really useful is on the blocks page of the explorer. Currently the block response only includes an array of txids, and so to be able to display richer details for each transactio

[2021-07-09 21:28] zone117x commented on #647
Great suggestion!

[2021-07-09 21:31] aulneau opened #648 "Search types are not exported in api types package"
[These types](https://github.com/blockstack/stacks-blockchain-api/blob/master/src/api/routes/search.ts#L19) should be exported in `@stacks/stacks-blockchain-api-types` but they are not due to [this line being incorrect](https://github.com/blockstack/stacks-blockchain-api/blob/cab3ab93b96852fcea748d24909f23e5a57e9465/docs/openapi.yaml#L1285).

[2021-07-09 21:33] aulneau commented on #648
closing in favor of https://github.com/blockstack/stacks-blockchain-api/issues/645

[2021-07-09 21:33] #648 closed

[2021-07-09 21:36] aulneau opened #649 "Endpoint for contracts that implement a given trait"
I was speaking with @zone117x and I think it'd be great if we had an endpoint that would expose all contracts that implement a specific trait. I personally think there are many instances where someone might want to get a list of contracts that all implement a trait, for example all contracts that implement the stacking pool trait, or all sip 10 contracts.

but I think contracts can implicitly impl

[2021-07-09 21:41] zone117x opened #650 "Add partial text matching to search endpoint"
There's a handful of cases where it would be useful for the search endpoint to be able to return results for partial text matches. Some examples: a contract name, token name, truncated hex IDs (some products show first ~6 chars of a block or tx hash similar to git short-hashes).

The associated sql columns just need a special index type to allow fast partial matching.

[2021-07-09 21:45] zone117x opened #651 "Include entity metadata in search endpoint responses"
Right now the search endpoint returns an array of matches that only include what the search result entity type is (e.g. a block, tx, address, etc). Consumers like the explorer show additional metadata in the result display, which currently requires several more network requests.

It seems reasonable to include the metadata in the initial search response. Should be implemented as an opt-in (probabl

[2021-07-12 08:48] asimm241 commented on #622
@kyranjamie  what do you think of the above suggestion?

[2021-07-12 10:08] kyranjamie commented on #622
@zone117x  @asimm241 Yes, this'd be perfect.

[2021-07-12 14:09] friedger commented on #649
There was already a discussion here for `stacks-blockchain`: https://github.com/blockstack/stacks-blockchain/issues/2382

If filter by json abi works that would be cool!

[2021-07-12 23:32] #523 closed

[2021-07-13 17:12] zone117x commented on #624
It looks like this may have been fixed in the microblocks PR, I don't see the same issue on the deployment at: `https://stacks-node-api-microblocks.stacks.co`
I think we should verify that this issue is still happening with the microblocks changes before doing a bunch more debugging.

[2021-07-13 17:35] zone117x commented on #291
I looked through the referenced endpoints and all the non-proxied endpoints appear to have `repr` properties now.

For the proxied endpoints, the API would have to make a bunch of semi-redundant wrapper endpoints around the `/v2/*` paths to add `repr` properties.
For example `/v2/contracts/call-read/{contract_address}/{contract_name}/{function_name}` would need something like `/extended/v2_wrapper

[2021-07-13 17:42] zone117x commented on #465
IIUC, the API does not have this data. It would require the stacks-node to emit new event data on delegation state changes.
@kantai what do you think?

[2021-07-13 17:55] kantai commented on #465
Yeah, I think this would need to emit a new event. It would be useful in preparation for Stacks 2.1 to enumerate the set of events that the explorer might want from the new PoX contract. Emitting delegation events, for example, would be pretty easy to do.

[2021-07-13 17:57] dantrevino opened #653 "REQUEST/QUESTION: Connect to api db via ssl"
**Is your feature request related to a problem? Please describe.**
I would like to connect from the event server to the event db via ssl.  I do not see a way to configure this in any of the available examples/configs.

**Describe the solution you'd like**
Maybe an env variable `SSL=true` that would append `?ssl=true` to the connection string

**Describe alternatives you've considered**
Turning off

[2021-07-13 18:33] whoabuddy commented on #653
I tried walking backwards through the code and may have an idea, but would definitely love some input from those more knowledgeable to see if I'm going in the right direction. @zone117x @CharlieC3 @wileyj

Based on the `connect()` function here, the `ClientConfig` is what's used to connect to the pg db on line 1094 and 1096.

https://github.com/blockstack/stacks-blockchain-api/blob/9ec64ad13403a7e

[2021-07-13 19:30] agraebe commented on #632
yeah, I just briefly compared the [api ref](https://blockstack.github.io/stacks-blockchain-api/) and the [client ref](https://blockstack.github.io/stacks-blockchain-api/client/index.html) and I cannot find:
- `/v2/prices` should result in a PricesApi class
- `/v2/namespaces` should result in a NamespacesApi class
- `/v2/names` should result in a NamesApi class
- I cannot fin a method to query the

[2021-07-13 19:47] agraebe commented on #291
would you like to propose this through an issue on their repo and close out the issue in this one?

[2021-07-13 20:05] zone117x commented on #632
The functions for those endpoints can be found if you grep for them in the client source. In the case for those, they are:
[code]

The container class name comes from the `tags` in `openapi.yaml`, e.g.:
[code]

That's why it's `BnsApi` rather than `PricesApi`.

Similarly, the `nft_events` endpoint is also just poorly named in the openapi.yaml:
[code]

I'd say this issue is more appropriately title

[2021-07-13 20:46] zone117x commented on #653
@whoabuddy's suggestion makes sense to me, and is the least disruptive.
Another approach is adding support for "connection URIs" https://node-postgres.com/features/connecting#connection-uri
So all the `PG_*` env vars could be replaced by a `PG_CONNECTION_URI`.

Supporting both options (a new `PG_SSL`, and `PG_CONNECTION_URI`) seems like a good idea. Any takers?

[2021-07-13 21:01] agraebe commented on #632
ahh, I think I see now. the issue here is rather that the client refs are not always generated? For instance, BnsApi isn't in the current reference:

<img width="445" alt="Screen Shot 2021-07-13 at 1 59 46 PM" src="https://user-images.githubusercontent.com/1671228/125524237-667cf9b3-42ef-4678-8793-4c6e7e299958.png">

I was always looking at the references to check if the client has the methods.

[2021-07-13 21:06] zone117x commented on #632
Probably related to the typedoc issue where client doc gh action was failing, and has since been fixed in the microblocks branch. I see the client reference there: https://stacks-blockchain-api-git-feat-microblocks-blockstack.vercel.app/client/classes/generated.bnsapi.html

[2021-07-13 22:11] agraebe commented on #632
Nice! I'll close this issue for now

[2021-07-13 22:11] #632 closed

[2021-07-13 22:13] agraebe commented on #465
I like the idea of a list for new events - maybe we could start a discussion in the blockchain repo and ask others to contribute @zone117x?

[2021-07-14 08:55] asimm241 opened #654 "Use test cases in microblocks"
Use the test cases from PR #620  in #625. Issue #614 should be fixed in the later PR and we can use these test cases there.

[2021-07-14 18:12] whoabuddy commented on #653
Opened a draft PR with more questions than answers :upside_down_face:

[2021-07-14 19:12] zone117x commented on #640
The micro-orphan rate over the last 30 days appears to be ~25%.
Using the query:
[code]
yields:
| total | orphaned | rate  |
| ----- | -------- | ----- |
| 3825  | 982      | 25.67 |

[2021-07-14 19:28] zone117x opened #656 "Remove hardcoded `stacks.co` usage in rosetta endpoint(s)"
There are hardcoded references to `stacks.co` hosted services in the rosetta code at https://github.com/blockstack/stacks-blockchain-api/blob/9ec64ad13403a7e82e6aa5d3648a17cb3133c809/src/api/rosetta-constants.ts#L23-L32

These appear to be used in a rosetta `/status` endpoint (`/rosetta/v1/network/status` ?) here:
https://github.com/blockstack/stacks-blockchain-api/blob/9ec64ad13403a7e82e6aa5d3648

[2021-07-14 19:58] zone117x opened #657 "Stricter doc schema/type errors"
* Print a warning in the doc type gen for schema objects that are missing a `title` property.
* Print a warning in the doc type gen for schema objects that are missing `additionalProperties: boolean` property.

Several openapi/typedoc-client references are problematic due to the above issues.

[2021-07-14 22:28] zone117x commented on #465
Sure I opened an issue https://github.com/blockstack/stacks-blockchain/issues/2769

[2021-07-15 08:29] SyAsteria opened #658 "Add Docker state updaters"
**Is your feature request related to a problem? Please describe.**

I'd like the API to report more detailed status updates to the Docker engine when running. Docker has a built-in status display so the daemon running them knows their current health. A container may indeed be running, but perhaps is not healthy, and needs rebooting. There is no way for the current implementation to report to the d

[2021-07-15 08:41] jasperjansz commented on #640
Thanks Matt. To start, we've decided to add an indicator when a transaction is in a microblock and we'll add some more guidance as to what exactly that means.

[2021-07-15 14:34] aulneau commented on #540
This seems to be coming up again, this time from use of the extension. @whoabuddy reported errors with a new update that went out which checks the online status of the networks in the list, and disables them if the fetch fails.

This was provided as an example of the output during the errors

![image](https://user-images.githubusercontent.com/11803153/125806026-b66c85b2-def8-4051-978b-8d0c612763a7

[2021-07-15 14:51] whoabuddy commented on #540
This one is really bizarre, so far it's happening intermittently and in asking a few other users, 1 sees the issue and the next 2 don't.

Yesterday I took these steps:

- upgraded to `2.12.1` via extensions panel in developer mode
- had the issue, tried reloading ext, tried restarting browser, same
- extension auto-updated to `2.12.2`, issue still present
- removed and installed unpacked from @aul

[2021-07-15 15:25] whoabuddy commented on #540
Update: caught it happening again, but seeing the `access-control-allow-origin: *` header when I run curl:

[code]

And the same CORS errors listed earlier in the console:

![Screenshot from 2021-07-15 08-22-27](https://user-images.githubusercontent.com/9038904/125813956-31ab1532-40f6-4e68-8fd7-931f7b09c50a.png)

Removing the extension and installing [this version](https://github.com/blockstack/st

[2021-07-15 15:40] zone117x commented on #540
Can you capture the request from the network tab? The response headers would be useful.

[2021-07-15 16:06] aulneau commented on #605
@agraebe is there anyway this can be brought up in priority?

[2021-07-15 17:01] zone117x opened #661 "Add microblock related updates to socket.io / event emitter"
Add microblocks and unconfirmed microblock-tx emitting to the [`DataStoreEventEmitter`](https://github.com/blockstack/stacks-blockchain-api/blob/cba848585f2d372345aca9a35ae984b5dd7ab6d3/src/datastore/common.ts#L284-L292) along with equivalent new [socket.io subscription topic](https://github.com/blockstack/stacks-blockchain-api/blob/ba2e4ed86cfea1eed3d6a4ab47b1c55c10fa4de5/src/api/routes/socket-io

[2021-07-15 17:02] zone117x opened #662 "Bug: `tx_index` likely no longer a logical ordering of transactions"
`tx_index` is likely no longer a logical ordering of transaction is it was intended, see https://github.com/blockstack/stacks-blockchain/issues/2668#issuecomment-847010900 -- likely needs fixed in core then API can be updated to use it.

[2021-07-15 17:41] whoabuddy commented on #540
Will do - now it's working again so will have to wait to see if it comes back up, and will ask the same if anyone else reports it.

[2021-07-15 20:42] agraebe commented on #605
I think so. is there some sense of urgency on this? would you wait for the endpoint before implementing hacks or is this purely about priority?

cc @zone117x - in case you feel strongly either way

[2021-07-16 09:05] friedger opened #664 "Faucet not usable for testing stacking because participation is below 25%"
**Describe the bug**
There are two thresholds described in https://github.com/blockstack/explorer/issues/483 to activate proof of transfer. The current implementation of the faucet returns enough tokens for 1 block reward on testnet. However, 1% of stacked tokens is required for PoX being active, that is 41,000m STX.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to faucet on sandbox of

[2021-07-16 20:59] shermanxiong opened #667 "[Rosetta] account/balance endpoint errors when both block hash and index are included in request"
**Describe the bug**
The `v1/rosetta/account/balance` endpoint errors when the request includes both `index` and `hash` in the `block_identifier` object.
Eg:
[code]

When only `index` is supplied, it works fine, or when only `hash` is supplied, it works fine but not when both are.

## Example Request
[code]

## Expected Response
when omitting `block_identifier` entirely or having one of either `in

[2021-07-16 21:04] diwakergupta commented on #667
cc/ @asimm241

I think the bug manifests here if both properties are set: https://github.com/blockstack/stacks-blockchain-api/blob/master/src/api/routes/rosetta/account.ts#L62

[2021-07-19 09:41] yknl opened #668 "Empty events array in address transaction history endpoint"
The events array for transactions from the `/extended/v1/address/${stxAddress}/transactions)` endpoint seems to be empty even though the events count is showing non-zero.

For example:
Querying `https://stacks-node-api.stacks.co/extended/v1/address/SPR7RRXN8ZRXPNAFKPN2TB84J7T1RMZRGWQQV7P3/transactions`

The transaction with ID `0x32ac0d3cf8cb08b1e9f5bd2509c10b6ad46d955b1cac269a8f19d332ca090a93`
sh

[2021-07-19 10:03] asimm241 commented on #667
Yes, it is happening because of this line. It should be fixed in this another PR from `zondax` guys.
https://github.com/blockstack/stacks-blockchain-api/pull/613/files

[2021-07-19 14:20] MHassanTariq commented on #621
The following functions contain queries that require change for implementing this flow:
- resolveBnsNames
- updateNames
- getName
- getHistoricalZoneFile
- getLatestZoneFile
- updateBatchSubdomains
- getSubdomain

[2021-07-19 17:44] #391 closed

[2021-07-19 21:06] zone117x opened #670 "Bug in micro-fork handling"
Transaction `0xc03f1204350a2ef9b367252ef92aa46a95091b946b7622185b09d1b3cfa5097e` appears to have been part of a re-org involving an orphaned microblock, and ended up without any canonical tx rows in the db.

https://stacks-node-api-microblocks.testnet.stacks.co/extended/v1/tx/0xc03f1204350a2ef9b367252ef92aa46a95091b946b7622185b09d1b3cfa5097e
[code]

The pending tx data is being pulled from the `me

[2021-07-20 12:18] asimm241 commented on #639
@zone117x do we need to add `microblock_hash, microblock_sequence, microblock_canonical` to these tables as well in addition to `canonical`. ?

[2021-07-20 15:25] #355 closed

[2021-07-20 15:25] #625 closed

[2021-07-20 15:25] #626 closed

[2021-07-20 15:26] #614 closed

[2021-07-20 19:27] #656 closed

[2021-07-20 19:32] zone117x commented on #639
Correct

[2021-07-20 19:33] blockstack-devops commented on #656
:tada: This issue has been resolved in version 0.62.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.62.2)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.62.2)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.62.2)

[2021-07-20 20:00] zone117x commented on #664
I'd like to get input from @blockstack/blockchain-team on how to resolve this. It sounds like the API _could_ do this assuming it's faucet account has enough funds, but I'd like more input on if that is the best approach.

[2021-07-21 02:31] diwakergupta commented on #664
This issue should be re-worded. I believe the real ask is: make sure Stacking is enabled on the testnet (and if not, provide an easy way to enable it, for instance via the sandbox). This is a reasonable ask.

Under the hood, what this likely entails is making sure some testnet genesis accounts send stacking transactions to meet the global threshold. There are many ways we could solve this. My intu

[2021-07-21 06:39] friedger commented on #664
Yes, that is correct. Happy to close these issues. Also for regtest, it should be easy to enable stacking.

[2021-07-22 17:05] zone117x commented on #668
Transaction events are only returned for the tx specific endpoint, and are paginated. Historically all events were returned for all txs in every endpoint, but that resulted in sql queries and JSON responses becoming way too large. In certain cases like the genesis transactions, the results would be several megabytes in size.

If you happen to be looking for STX transfer related events, see the end

[2021-07-22 19:05] whoabuddy commented on #540
Happened again today - see screenshot below:

![Screenshot from 2021-07-22 10-51-00](https://user-images.githubusercontent.com/9038904/126685800-8857e112-02f9-4bb2-b87e-d015795b28df.png)

Network requests show a 404 on the regtest preflight, other two were ok:

![Screenshot from 2021-07-22 11-15-26](https://user-images.githubusercontent.com/9038904/126694804-5c619518-db4f-4a45-bd5c-c1e5c2dd1d96.pn

[2021-07-22 19:10] zone117x commented on #540
@CharlieC3 any ideas?

[2021-07-22 21:13] CharlieC3 commented on #540
@whoabuddy Thanks for the info! With what you sent I was able to investigate further and reliably replicate the issue. I can't explain why you and other users saw this problem inconsistently -- In Chrome/Brave I do not get this issue at all, even after dozens of refreshes in the web wallet. It may be exceedingly rare in Chrome/Brave for unknown reasons. In Firefox I got the CORS issue on every rel

[2021-07-22 23:24] whoabuddy commented on #540
@CharlieC3 That's great news! It was very random for me with Chrome/Brave, and I felt the same - it was very hard to replicate. Fortunately, it is working normally now and will report again if it comes up, thanks for the quick fix!

[2021-07-22 23:39] #540 closed

[2021-07-23 03:47] yknl commented on #668
Ok makes sense. But maybe the empty events array should be removed from the response to avoid confusion.

[2021-07-23 12:46] friedger opened #671 "Incorrect tx_status after error"
**Describe the bug**
The `tx_status` of https://stacks-node-api.mainnet.stacks.co/extended/v1/tx/0x38e2f50a4c410e2835a3497d0a7f68c2e81150a3f95956333c31d7b68beb647b?chain=mainnet  is shown as `abort_by_post_condition`. However, the tx result is `(err u5)`.

[2021-07-23 15:11] zone117x commented on #671
@friedger can you describe the behavior you expected to see?

[2021-07-23 15:28] friedger commented on #671
@zone117x I's expect `abort_by_response`

[2021-07-23 15:30] zone117x commented on #671
The abort reason comes directly from the stacks-node, the API doesn't do any transformations or decision overriding around this. You may want to open this issue in the blockchain repo.

[2021-07-23 15:30] #671 closed

[2021-07-23 17:11] lgalabru commented on #640
@zone117x would it be possible to see a distribution? as in, is it a solid 25% average, or is is oscillating between 5% and 40%?

[2021-07-23 17:14] agraebe commented on #283
closing this for now. @aulneau please reopen with more specifics if it still isn't resolved by the socket.io features

[2021-07-23 17:14] #283 closed

[2021-07-23 17:33] agraebe commented on #646
this is done it seems?

[2021-07-23 17:33] #646 closed

[2021-07-23 19:17] shermanxiong opened #672 "[Rosetta][Construction-API][feature] pass in valid BTC address for constructing stacking transaction"
the entire transaction construction flow:
`/preprocess` -> `/metadata` -> `/payloads` -> etc
needs to be able to handle passing in and using valid BTC address for constructing a stacking transaction to tell the it to send BTC rewards to that address for that stacking cycle.

This is so we can specify the BTC reward address to stack. Right now looking at `/payloads` it looks like the bitcoin addres

[2021-07-23 19:27] shermanxiong opened #673 "[Rosetta][Construction-API][bug] /payloads will always error when constructing a stacking transaction"
Since there is no token_transfer_recipient_address when constructing a stacking transaction, I believe /payloads will always error here:
https://github.com/blockstack/stacks-blockchain-api/blob/master/src/api/routes/rosetta/construction.ts#L532-L536

[2021-07-23 19:29] shermanxiong opened #674 "[Rosetta][Construction-API][bug] constructing stacking tx using /preprocess not offline"
when sending a stacking operation for constructing a transaction using /preprocess using the OFFLINE stacks API, it errors with
[code]
meaning that this is not offline as its trying to connect to the node.

/preprocess endpoint needs to be entirely offline, ie. cannot connect to the node.

I suspect it might be due to when creating a dummy stacking transaction: https://github.com/blockstack/stacks

[2021-07-23 20:26] agraebe commented on #588
pinging @zone117x to continue with the discussion

[2021-07-23 20:27] agraebe commented on #583
is this still relevant? and are you working on this @zone117x ?

[2021-07-23 20:28] #291 closed

[2021-07-24 19:51] friedger opened #675 "Add endpoint for `block` by burn block height or burn block hash"
**Is your feature request related to a problem? Please describe.**
I would like to find the stacks block that was mined at a certain burn block that includes a certain burn tx.

**Describe the solution you'd like**
Similar to `block/by_height/1234`, I would like to call `block/by_burn_block_height/4566` and `block/by_burn_block_hash/0x01234`

**Describe alternatives you've considered**
Wait for 2.

[2021-07-26 14:50] #583 closed

[2021-07-27 14:23] zone117x commented on #588
@wileyj yes I'd appreciate help with getting `follower.Dockerfile` updated, do you still have time to help with that?

[2021-07-27 14:28] zone117x commented on #647
@aulneau let me know if you think this should be bumped in priority.

[2021-07-27 14:28] zone117x commented on #649
@aulneau let me know if you think this should be bumped in priority.

[2021-07-27 14:29] wileyj commented on #588
Sure. I'll look it over, but is there reason you can think of where it needs to differ from [stacks-blockchain Dockerfile](https://github.com/blockstack/stacks-blockchain/blob/master/Dockerfile) ?

To be clear, the updated [rosetta Dockerfile](https://github.com/blockstack/stacks-blockchain-api/blob/master/stx-rosetta.Dockerfile) should supersede the [follower Dockerfile]( https://github.com/block

[2021-07-27 14:40] zone117x commented on #604
@Exulansis is this still required for the DID resolver, did you end up mocking the endpoint? Or did you find another way around it?

[2021-07-27 14:42] aulneau commented on #647
I think this is pretty important, specifically related to work on the explorer. we can make due now, but it will hammer the api with requests, especially as we need to fetch large lists of txids and microblock hashes

[2021-07-27 14:52] zone117x commented on #577
We typically have a lot of API deployments for each network and specific feature branches. This would be pretty useful.

[2021-07-27 15:30] agraebe commented on #664
Make sense @friedger. Let's close this for now. Please reopen if there's more to discuss

[2021-07-27 15:30] #664 closed

[2021-07-27 15:57] wileyj commented on #588
re: docker-compose files - we can document/link to the [docker-compose repo ](https://github.com/blockstack/stacks-local-dev)marvin and I have been working on, it seem like it would be able to take over for the existing docker-compose files.

[2021-07-27 16:13] zone117x commented on #588
The `follower.dockerfile` creates the `blockstack/stacks-blockchain-api-standalone` image, used for the quick start in the readme:

It looks like the rosetta one could replace it, but the readme instructions would need tweaked?

----

The docker-compose files in this repo are actually used for development of the API, not intended for production or external usages.
https://github.com/blockstack/sta

[2021-07-27 16:26] wileyj commented on #588
I see, thanks!
the follower  dockerfile *can* be replaced by the rosetta file (functionally, they're the same - they just achieve the results in a slightly different manner).

if the docker-compose files are used for local development, and you still want to keep them here - i'd propose we move them to a different directory at the very least.

i see what you're saying about the package.json - i'd l

[2021-07-27 19:20] wileyj opened #677 "Better messaging/return code around "TooMuchChaining""
From the web wallet: "Broadcast error: "transaction rejected - TooMuchChaining"

and the dev console when someone attempted to POST to the testnet faucet (while the mempool was full):
![image](https://user-images.githubusercontent.com/2847772/127214244-d2912bd7-cdb6-4ceb-b0bd-bab2ccf94d76.png)

Currently, if we're getting that error back from the stacks-node, it's returning a `500` and the message

[2021-07-27 19:39] zone117x commented on #677
I'm not sure what to do here. When the API gets a valid response from the stacks-node (including valid error responses like TooMuchChaining), it proxies it along.

The API _does_ already check the stacks-node error response type in order to determine if nonce-incrementing logic should be attempted, so already precedent there. However, this is essentially a work around the API performs due to the s

[2021-07-27 19:47] wileyj commented on #677
the message itself probably isn't relevant here - but in cases like this, if we were to add a specific HTTP status like `510` vs the current and nebulous `500` - downstream services like a wallet could see that return and craft a custom message if applicable.
could that be done on the stacks-blockchain side vs the api? sure, i can see the case for moving it there. if this would add too much custom

[2021-07-27 19:51] zone117x commented on #677
If simply adding a `if (TooMuchChaining) return 510` helps, I'm not opposed to adding it. It's a couple lines, no prob.

I'd just note this is essentially extending the work-around in the API, and it's likely a future error condition will not be the same TooMuchChaining error.

[2021-07-27 19:56] wileyj commented on #677
I see your point - i'd say let's hold off for now. i'll look at the stacks-blockchain code and see if it makes more sense to try to do something there.

[2021-07-27 20:01] zone117x commented on #677
👍
For context, here's the API code for the bit of error handling to do the brute-force nonce-incrementing technique: https://github.com/blockstack/stacks-blockchain-api/blob/22e9a4f64f093fd9982dde570e18278b65e4b934/src/api/routes/faucets.ts#L228-L239

[2021-07-27 20:24] zone117x commented on #677
@wileyj btw the while the API sends over the stacks-node response in the __payload__, it does not mirror/proxy the http response code.

In this example, the http response payload looks like:
[code]

But the API's http response is still 500. I can definitely make the API mirror the status code (400 in this case) if that helps.

[2021-07-27 21:03] aulneau opened #678 "Include txid in account asset transfers response"
This endpoint: https://blockstack.github.io/stacks-blockchain-api/#operation/get_account_assets, https://stacks-node-api.regtest.stacks.co/extended/v1/address/ST1X6M947Z7E58CNE0H8YJVJTVKS9VW0PHEG3NHN3/assets can be used to construct an activity view of transfers of non-stx assets (fts, nfts). Currently however, the entries in the response do not include the original txid for the event. This makes

[2021-07-28 08:07] asimm241 commented on #248
@zone117x I think it is a different request than `feat/tokens metadata`.  `feat/token metadata`  only list the metadata for ft and and nft seperately and also gives you ability for a specific metadata. It does not show all the assets in  a single api.

[2021-07-28 08:27] Exulansis commented on #604
@zone117x Sorry for not getting back to this issue with an update sooner. This endpoint is no longer required for DID resolution due to a change in the design / resolution process (specifically wrgt. how key rotation is handled). Therefore there was no need to mock it.

I suppose this issue can be closed now.

[2021-07-28 13:38] wileyj commented on #677
I'm going to close this - we can think about this later on but it's not a priority whatsoever at the moment.

[2021-07-28 13:38] #677 closed

[2021-07-28 14:01] #604 closed

[2021-07-28 15:20] zone117x commented on #653
Closed by https://github.com/blockstack/stacks-blockchain-api/pull/666

[2021-07-28 15:20] #653 closed

[2021-07-28 15:48] zone117x commented on #248
I confirmed with @aulneau that the new endpoints `/extended/v1/tokens/nft/metadata` and `/extended/v1/tokens/ft/metadata` do resolve this issue, with the caveat that the assets must conform to their corresponding SIPs.

[2021-07-28 16:45] zone117x opened #681 "Fast graceful shutdown"
When shutting down the handlers wait for all client connections to be closed. This causes issues with socket.io/websocket connections that can take hours to close on their own. Especially if the shutdown was caused by an unhandled exception. A critical error can happen, be logged, then not surface any problems for an extended period of time.

The shutdown handlers should give client connections a

[2021-07-28 16:48] CharlieC3 commented on #681
I think I have this mentioned in another ticket somewhere, but shutdowns should also result in the main process dying. Currently when the API shuts down, the ports are closed but the main process never dies. If the main process dies, K8s can restart the pod and the API would recover in a short amount of time.

[2021-07-28 16:58] zone117x commented on #681
Process should die from https://github.com/blockstack/stacks-blockchain-api/blob/d112c4c9e5d0ee3393a217b22429080c688fd7bb/src/shutdown-handler.ts#L26-L29
AFAIK there's no escaping [`process.exit`](https://nodejs.org/api/process.html#process_process_exit_code).

My guess is the code is never reached because there's always a registered handler (like websocket client waits) that have maybe never comp

[2021-07-29 12:25] pablojorge opened #683 "Represent value transfer operations with type "token_transfer" instead of "contract_call""
When tokens are moved in the context of a contract call, like [in this case](https://explorer.stacks.co/txid/0xe0f00221eb8b802dd848fa3c1cdfb755c8b7ef3f9cc21cf8781eac71dd98f0dd?chain=mainnet), where 19 STX were moved from `SP1SEV44PF93QAXVA3G4NDDNW9REDBXVCZ5T1VB3Y` to `SP1GHG0TPP2ZMSZJ0M5VVMJCAFV9SQXJ5HWR6KX6T` the Rosetta response includes 4 operations:
- 1 `fee` op
- 1 `contract_call` op (with th

[2021-07-29 14:22] asimm241 opened #684 "[Rosetta][Construction] /payloads always return error on contract_address and contract_name"
**Describe the bug**
In rosetta construction `/payloads` api will always fails due to the following checks
- https://github.com/blockstack/stacks-blockchain-api/blob/d112c4c9e5d0ee3393a217b22429080c688fd7bb/src/api/routes/rosetta/construction.ts#L601

- https://github.com/blockstack/stacks-blockchain-api/blob/d112c4c9e5d0ee3393a217b22429080c688fd7bb/src/api/routes/rosetta/construction.ts#L605

**T

[2021-07-29 14:28] zone117x commented on #673
Closed by https://github.com/blockstack/stacks-blockchain-api/pull/682

[2021-07-29 14:28] #673 closed

[2021-07-29 14:33] zone117x commented on #674
Closed by https://github.com/blockstack/stacks-blockchain-api/pull/679

[2021-07-29 14:33] #674 closed

[2021-07-29 14:46] zone117x commented on #683
Seems reasonable to me, assuming it doesn't violate the rosetta spec in some strange way. We have quite a backlog of higher priority issues though, so PRs definitely welcome! Otherwise I don't think this will be done for a while.

[2021-07-29 15:41] zone117x commented on #675
Closed by https://github.com/blockstack/stacks-blockchain-api/pull/676

[2021-07-29 15:41] #675 closed

[2021-07-29 15:55] zone117x commented on #684
@asimm241 I think you should go with your suggested solution for now if that unblocks the Rosetta workstream(s).

@shermanxiong do you have any guidance on if the solution makes sense?

[2021-07-29 19:43] zone117x opened #685 "[Rosetta] Nonce fetching code causing `ConflictingNonceInMempool`"
The rosetta code for determining the `nonce` to use for a transaction is only using the `nonce` value returned from `/v2/accounts/:principal`. This doesn't take into account already-used nonces in the mempool or unconfirmed/unanchored microblocks:
https://github.com/blockstack/stacks-blockchain-api/blob/95cd1be12884de945e95dfdadb76ac43cd4ed2d4/src/api/routes/rosetta/construction.ts#L335-L347

This

[2021-07-29 21:10] shermanxiong commented on #684
the flow of endpoints calls for constructing a Rosetta transaction follows this flow :
1. make a request to `construction/preprocess` with the proper `operations`
2. The `options` object returned from `construction/preprocess` will be sent to the `/construction/metadata` endpoint UNMODIFIED by the caller
3. the `operations` and the `metadata` object returned by `construction/metadata` endpoint wil

[2021-08-02 19:15] wileyj commented on #588
@zone117x pushed a branch (above)  that should clean the docker footprint up a bit, but it may cause some issues with existing services (vercel check failed for example).
locally testing, everything seems to work on my end - curious what you think of these changes, if this goes a little too far etc.

[2021-08-02 21:08] zone117x commented on #684
Closed by https://github.com/blockstack/stacks-blockchain-api/pull/687

[2021-08-02 21:08] #684 closed

[2021-08-02 21:12] zone117x commented on #672
Closed by https://github.com/blockstack/stacks-blockchain-api/pull/688

[2021-08-02 21:12] #672 closed

[2021-08-02 22:58] agraebe commented on #622
with the PRs merged, can this be closed out?

[2021-08-03 15:20] #622 closed

[2021-08-03 15:23] agraebe commented on #640
remaining task: make this an endpoint anyone could consume

[2021-08-03 15:31] zone117x commented on #588
@wileyj seems like a good change to me, want to open a PR for it?
I think we'd also need to update the `quick start` readme instructions.

[2021-08-03 15:54] wileyj commented on #588
I can take a look sure, add that to the branch. good call on the docs/readmes, i'll have to double-check that (particularly the docs.stacks.co pages for the API).

[2021-08-04 14:44] kyranjamie opened #690 "Nonce missing in generated types"
The nonce prop is missing in mempool tx types.

[2021-08-05 10:35] kyranjamie commented on #690
Non-issue, I must've been looking at an older version.

[2021-08-05 10:35] #690 closed

[2021-08-05 16:28] zone117x opened #692 "[Rosetta] Integration tests for delegated Stacking and revoke Stacking operations"
PR https://github.com/blockstack/stacks-blockchain-api/pull/689 introduced delegated stacking and revoke stacking operations, but is lacking integration tests for them.

Also, various stacking tx parsing functions are not covered by any tests, .e.g. `parseStackingContractCall`.

[2021-08-05 16:28] zone117x commented on #692
cc @asimm241

[2021-08-06 00:46] zone117x commented on #670
Closed by https://github.com/blockstack/stacks-blockchain-api/pull/686
Hopefully the last re-org bug.

[2021-08-06 00:46] #670 closed

[2021-08-06 01:35] zone117x commented on #667
Should be closed by https://github.com/blockstack/stacks-blockchain-api/pull/689

[2021-08-06 01:35] #667 closed

[2021-08-06 11:56] beguene opened #693 "Add getAccountNonces to accountsApi"
When I instantiate the AccountsApi the method 'getAccountNonces' is not visible. The code of that method is already there but it's just not exposed. It's not present in ./client/src/generated/apis/AccountsApi.ts

Version: 0.63.0-beta.0

[2021-08-06 14:14] beguene commented on #693
Actually this 'getAccountNonces' is present in the develop branch, so no issue here.

[2021-08-06 14:14] #693 closed

[2021-08-10 10:05] MHassanTariq commented on #647
I'm working on this issue.

[2021-08-10 14:58] zone117x opened #695 "Investigate `unique_microblock_hash unique constraint` bug reported by integrator"
An integrator is reporting an error while syncing testnet with latest API develop branch. It's a critical issue that halts syncing their testnet:
[code]

Deployment details:

https://github.com/blockstack/stacks-blockchain-api/blob/develop/stx-rosetta.Dockerfile#L1-L2

I have their event-replay-log file to investigate. In the meantime, we should test re-syncing a testnet deployment from scratch to

[2021-08-10 15:21] wileyj commented on #658
this should work:
https://stacks-node-api.mainnet.stacks.co/extended/v1/status

unless you're proposing a more detailed view?
https://stacks-node-api.mainnet.stacks.co/v2/info is also available, but that is a proxy to the stacks-blockchain itself

[2021-08-10 19:57] shermanxiong commented on #683
yes that sounds correct to me

[2021-08-10 21:51] zone117x opened #698 "Respond with `503 - Service Unavailable` while stacks-node is syncing"
When the API and stacks-node are both started, the API immediately boots the event observer http server in order to prevent an inter-process deadlock. However, the API waits until the stacks-node's http server is responsive to `/v2/info` before initializing it's own public http server. It does this because many endpoints will not function correctly until the stacks-node RPC server is responsive. T

[2021-08-10 22:07] zone117x commented on #695
This appears to be caused when the `stacks-node` is accidentally configured to broadcast duplicate events to the API via the usage of both the `STACKS_EVENT_OBSERVER` env var and the `event_observer` toml config.

In the API develop branch, this error surfaces when duplicate `/new_block` events containing microblocks are received -- which can take hours to surface due to syncing times.

While the

[2021-08-10 22:07] #695 closed

[2021-08-10 22:54] zone117x commented on #685
@asimm241 now that https://github.com/blockstack/stacks-blockchain-api/pull/697 is in review, I think we should quickly try to take care of this issue next

[2021-08-11 16:49] blockstack-devops commented on #672
:tada: This issue has been resolved in version 0.63.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.63.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.63.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.63.0)

[2021-08-11 16:49] blockstack-devops commented on #674
:tada: This issue has been resolved in version 0.63.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.63.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.63.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.63.0)

[2021-08-11 16:49] blockstack-devops commented on #675
:tada: This issue has been resolved in version 0.63.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.63.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.63.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.63.0)

[2021-08-11 16:49] blockstack-devops commented on #673
:tada: This issue has been resolved in version 0.63.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.63.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.63.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.63.0)

[2021-08-11 16:49] blockstack-devops commented on #684
:tada: This issue has been resolved in version 0.63.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.63.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.63.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.63.0)

[2021-08-11 18:04] wileyj commented on #698
While 503 is technically correct for the status during startup, i'd argue to use a custom 5XX status code here since health checks would see the `503` and assume the service is dead (restarting the service in some cases).

We had a similar discussion for stacks-blockchain: https://github.com/blockstack/stacks-blockchain/pull/2768#issuecomment-882587477

If the proposed `503` is used, it would beco

[2021-08-11 18:37] zone117x commented on #692
Closed by https://github.com/blockstack/stacks-blockchain-api/pull/697

[2021-08-11 18:37] #692 closed

[2021-08-11 20:46] #424 closed

[2021-08-11 23:49] shermanxiong opened #704 "[Rosetta] transaction operation missing in /block/transaction"
I found that there is inconsistency between `/block` and `/block/transaction`. So far I've only found this for transactions relating to stacking.

## /block Request Body
[code]

## /block Response
[code]

The first transaction is the one for stacking and it has 3 operations: 1 for fee, 1 for `stack_stx` contract call, 1 for `stack_lock`

However when querying `/block/transaction` for that exact tr

[2021-08-11 23:59] shermanxiong commented on #704
node version `v2.0.11.2.0`
api version `0.63.0.`

[2021-08-12 14:48] zone117x commented on #704
I think `stack_stx` is derived from simply finding a regular pox contract call tx:
https://github.com/blockstack/stacks-blockchain-api/blob/54a3856f6207783ad1f47a57ab847659ce4b418e/src/rosetta-helpers.ts#L544-L550
If another smart contract calls into the pox contract to lock stx then this operation wouldn't show up.

Whereas the the `stx_lock` operation is derived from an event that is always sent

[2021-08-12 17:23] zone117x commented on #685
Closed by https://github.com/blockstack/stacks-blockchain-api/pull/700

[2021-08-12 17:23] #685 closed

[2021-08-13 22:35] #418 closed

[2021-08-14 18:36] friedger opened #708 "TypeError: Cannot read property 'type' of undefined"
**Describe the bug**
When calling `https://stacks-node-api.mainnet.stacks.co/extended/v1/address/SP1JSH2FPE8BWNTP228YZ1AZZ0HE0064PS6RXRAY4.fpwr-v03/transactions?limit=30&offset=0` the server responds with

[code]

[2021-08-16 14:05] #708 closed

[2021-08-16 17:29] #681 closed

[2021-08-16 22:39] agraebe commented on #704
with #706 merged, can this be closed?

[2021-08-17 09:28] SyAsteria commented on #658
@wileyj this is good, but doesn't integrate with docker itself.

what i'm aiming for is to have the container keep the docker daemon updated on the node's status -- where it should normally be 'healthy'. if the node starts having issues but hasn't fatally crashed, there's no way for the docker daemon to work out whether it should attempt to reboot the node or whatnot. the node should keep its dock

[2021-08-17 13:42] zone117x commented on #615
Note: the equivalent STX tx endpoint to replicate for this is actually https://blockstack.github.io/stacks-blockchain-api/#operation/get_account_transactions_with_transfers
`https://stacks-node-api.mainnet.stacks.co/extended/v1/address/{principal}/transactions_with_transfers`

[2021-08-17 13:43] wileyj commented on #658
This is really confusing - in the docker daemon, there isn't a way to run health checks natively similar to synthetic checks as far as i'm aware.
If you're using compose, there are definitely options: https://docs.docker.com/compose/compose-file/compose-file-v3/#healthcheck

[2021-08-17 13:46] wileyj commented on #658
there is this: https://docs.docker.com/engine/reference/builder/#healthcheck

but i'm not convinced this should be added to the API due to how the API works (a flapping API would be a very very bad thing). You're welcome to PR a change with this to elicit more comments, but it'd probably be a tough sell.

[2021-08-17 13:55] #704 closed

[2021-08-17 14:02] albydeca opened #711 "Document the Postgres DB columns"
**Is your feature request related to a problem? Please describe.**
As part of our Stacks grant-winning product, the Novum team will need to perform some more advanced data querying over and above what is available as API endpoints. This will mean running SQL queries directly on the database which underlies the API node.

**Describe the solution you'd like**
A per-table, per-column documentation of

[2021-08-17 15:12] zone117x opened #712 "Update to latest stacks.js dependency"
Currently used version of stacks.js has a bug that caused a critical error in the API. For more details, see https://github.com/blockstack/stacks-blockchain-api/pull/709

The latest version of stacks.js seems to have the issue resolved, and we should update to using the latest stable version anyway.

[2021-08-17 15:35] reedrosenbluth commented on #658
@SyAsteria feel free to make this change to your Dockerfile, but I'm going to close this for this repo for now.

[2021-08-17 15:35] #658 closed

[2021-08-17 16:50] CharlieC3 commented on #658
I actually think this is a good idea as long as the health check is properly configured. However, there is a caveat to consider which may lower the effectiveness of the health check I talk about at the bottom.

If the health check fails to resolve N times with an interval of X seconds, the container being restarted from the docker daemon wouldn't result in any further loss of availability since th

[2021-08-17 18:44] #678 closed

[2021-08-17 19:37] zone117x commented on #711
Hi @albydeca, a couple thoughts around this request:

The postgres schema is ever-evolving, and it's effectively an emergent property of the sql migration pattern used in this repo. This means that it would be somewhat challenging to document today's schema and ensure it stays updated as the codebase is updated. It would at least require writing some new types of tests where a bootstrapped postgre

[2021-08-17 20:15] rafaelcr commented on #605
@aulneau do you need us to add a new parameter for contract principals? or should we just search contract call arguments using the current sender/receiver args?

[2021-08-17 21:11] CharlieC3 commented on #711
I don't think my or @wileyj's opinion on this matter should weigh as much as yours or @rafaelcr's, but I may be able to offer a bit more perspective.

There's already quite a few DB documentation tools that can auto-generate schema data into HTML and PDFs. For example, [SchemaSpy](https://github.com/schemaspy/schemaspy) is a pretty popular open-source one that supports psql. [Sample db report here

[2021-08-17 21:25] zone117x commented on #711
I'm not opposed to @CharlieC3's suggestion if people would find that helpful -- it looks like SchemaSpy uses pg column `comments` to generate docs, and that appears to be supported in the pg migration lib we're using:

![image](https://user-images.githubusercontent.com/1447546/129802262-bbc55ca5-42fd-4a96-b9b6-de7cf6442639.png)

@albydeca does that work for you, given the above comments about main

[2021-08-18 08:11] markmhx opened #713 "Fix issue with returning (legacy) subdomain usernames with addresses endpoint"
I'd expect the following call to return "markhendrickson.id.blockstack" (which was registered before Stacks 2.0) under "names", but instead the response is empty:

https://stacks-node-api.mainnet.stacks.co/v1/addresses/stacks/SPG6XHZVNEEXTCDX634RGDHJ8X1R5C1VYH6WXR7P

![image](https://user-images.githubusercontent.com/28991/129862204-c4f6b72e-fa2c-42da-b3c8-9a7031590e68.png)

![image](https://user-

[2021-08-18 08:38] markmhx opened #714 "Remove transferred names from address endpoint"
Currently it appears that names are still returned by the address endpoint even once they've been transferred to another address.

See https://github.com/blockstack/stacks-wallet-web/issues/1551#issuecomment-897690761

_Originally posted by @aulneau in https://github.com/blockstack/stacks-wallet-web/issues/1551#issuecomment-897690761_

_Originally posted by @fbwoolf in https://github.com/blockstac

[2021-08-18 09:41] albydeca commented on #711
Hi all, thanks for your suggestions.

I totally understand that the db schema will be constantly changing and agree that it makes sense to hold off creating official documentation if you do not wish for it to be depended on publicly. However the DB in itself holds a lot of extra interesting data that could benefit our, and other projects' analyses, and ultimately provide a great resource for the g

[2021-08-18 13:51] rafaelcr commented on #605
(From clarification with @zone117x, answering the question above)
We will use the `address` param to also search for smart contract and contract call ids

[2021-08-18 19:06] #605 closed

[2021-08-20 03:51] shermanxiong opened #718 "[Rosetta] /account/balance returning increased sequence_number before transaction lands on-chain"
## Versions
API version: [v0.64.1](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.64.1)
Node version: `2.0.11.2.0`

## Description
When creating and submitting a transaction, we expect that the `sequence_number` for that account is increased by 1 _after_ the transaction lands on-chain. However, on this version of API, I've found that it may increase the sequence number _before

[2021-08-20 17:07] zone117x commented on #718
Closed by https://github.com/blockstack/stacks-blockchain-api/pull/719

[2021-08-20 17:07] #718 closed

[2021-08-20 17:54] diwakergupta commented on #664
Quick follow up here that PoX should get activated on testnet with the next cycle (63)

[2021-08-24 14:17] zone117x commented on #713
@asimm241 do you have bandwidth to take this on? Seems like a regression (probably would have happened during microblock implementation) or like the BNS import process isn't running correctly.

[2021-08-24 14:21] asimm241 commented on #645
@zone117x as I have understood from this issue, we need to update the schemas for search as per [these types](https://github.com/blockstack/stacks-blockchain-api/blob/master/src/api/routes/search.ts#L19) ?

[2021-08-24 14:52] #615 closed

[2021-08-24 14:55] zone117x commented on #645
@asimm241 yes that is correct

[2021-08-24 16:00] zone117x commented on #711
I think next steps here are:
* @CharlieC3 help with configuring SchemaSpy within gh actions to auto generate and publish (probably to a sub-directory in the github pages docs) some html.
* @zone117x to add some initial column `comments` for the above mentioned columns.

[2021-08-24 16:40] zone117x opened #723 "Flaky BNS tests"
The CI bns tests are flaky and failing around half the time.

Here's the output for one of the failures:
[code]

[2021-08-25 10:21] asimm241 commented on #713
@markmhx  I can see `markhendrickson.id.blockstack` registered for `SP3CG3Y2BF1RVS4M3MNZKRAHVRW2PY0ZF8DJ63G4S `  https://stacks-node-api.mainnet.stacks.co/v1/names/markhendrickson.id.blockstack returns
[code]

I can not find this address `SPG6XHZVNEEXTCDX634RGDHJ8X1R5C1VYH6WXR7P` anywhere in the legacy data.

This is the BTC address `1LnRzVuVb2SmMamQZQL7d4oFkbZCkPbcd9` associated with `markhendric

[2021-08-25 20:53] aulneau opened #725 "Certain transaction endpoints can be very slow"
I noticing some pretty significant slow downs with this endpoint: https://stacks-node-api.mainnet.stacks.co/extended/v1/address/SP000000000000000000002Q6VF78.pox/transactions?limit=50&offset=250, it's intermittent, but reproducible. If you change the offset to random numbers, i've been getting load times over 15 seconds. I've also pretty consistently been getting 524 status code from it.

![Screen

[2021-08-27 18:01] pseudozach opened #726 "docker testnet support"
Hi,
I'm trying to start a testnet standalone docker instance and I've noticed dockerfile only checks for mocknet otherwise starts on mainnet.

Is it possible to add support for testnet? Is it already available in some other way I'm not seeing?

MAINNET_ID=0x00000001\n\
MOCKNET_ID=0x80000000\n\
[ $1 = "mocknet" ] && STACKS_CHAIN_ID="${MOCKNET_ID}" || STACKS_CHAIN_ID="${MAINNET_ID}"\n\
export STACKS

[2021-08-30 07:41] MHassanTariq commented on #645
I'm working on this issue.

[2021-08-31 14:05] zone117x commented on #683
Closed by https://github.com/blockstack/stacks-blockchain-api/pull/728

[2021-08-31 14:05] #683 closed

[2021-08-31 14:11] zone117x commented on #645
Closed by https://github.com/blockstack/stacks-blockchain-api/pull/727

[2021-08-31 14:11] #645 closed

[2021-08-31 15:10] kyranjamie opened #729 "New competitive fee endpoint"
Per the requirement to set higher fees, the API should expose an additional endpoint that contains fee rate information for clients.

This is preferable to hard coding in our client apps, as updates would require us to go through the slow release cycles.

The simplest implementation of this would be an endpoint with the schema:

[code]

[2021-09-01 01:21] shermanxiong opened #732 "[Rosetta][Bug] /block on testnet block index 6859 returns error"
## Request on Rosetta API /block
[code]

## Error Response
[code]

[2021-09-01 12:03] asimm241 commented on #729
@zone117x What I understand from the issue is we will add a new endpoint `extended/v1/fee_rate` in the API which will fetch the `fee_rate` from RPC client using `v2/fees/transfer` and return it in the above-mentioned format., right?

[2021-09-01 16:13] kyranjamie commented on #729
No. The aim is to return a hard-coded fee value, not the value coming from the node itself.

[2021-09-01 16:56] #589 closed

[2021-09-01 17:00] asimm241 commented on #729
@kyranjamie  What should be the value?

[2021-09-01 18:32] zone117x opened #734 "Store & expose tx execution cost data"
Tx execution cost is reported by the stacks-node, the property `execution_cost` is defined here: https://github.com/blockstack/stacks-blockchain-api/blob/3100c5661e62fece6b33bfe2806940e3ea655425/src/event-stream/core-node-message.ts#L162-L169

and the interface here: https://github.com/blockstack/stacks-blockchain-api/blob/3100c5661e62fece6b33bfe2806940e3ea655425/src/event-stream/core-node-message

[2021-09-01 18:41] zone117x opened #735 "Return block execution cost data"
As a followup to https://github.com/blockstack/stacks-blockchain-api/issues/734, it would also be helpful if block data API responses included the total execution cost (should be a simple sum of the execution costs for each tx included in the block).

This can be done in a followup PR and is lower priority, since #734 would allow for clients to calculate this themselves. However, we'd want to impl

[2021-09-01 19:14] #644 closed

[2021-09-02 10:32] asimm241 commented on #732
I'm unable to reproduce this issue on my end.

The request:
[code]
The Response:
[code]

cc: @zone117x

[2021-09-02 12:42] MHassanTariq commented on #698
I'm working on this issue

[2021-09-02 13:16] zone117x commented on #698
@MHassanTariq might be best to hold off until https://github.com/blockstack/stacks-blockchain/pull/2768 is completed or further along, since we'll likely copy their status code and the sync progress if possible.

[2021-09-02 16:20] dantrevino commented on #725
+1 for special attention to transactions and nft_events

[2021-09-02 16:22] zone117x commented on #725
@dantrevino got any example URLs that are slow for you? That would be helpful for optimizing

[2021-09-02 18:06] #734 closed

[2021-09-02 18:56] rafaelcr opened #738 "add prometheus metrics for postgres queries"
Some of the extended API endpoints are taking a very long time to respond (some even timeout after 60s), for example: https://stacks-node-api.stacks.co/extended/v1/tx?limit=10&type=coinbase&type=token_transfer&type=smart_contract&type=contract_call&unanchored=true

At first sight, it looks like the internal postgres queries could be the bottleneck as they usually involve joining several tables and

[2021-09-02 18:58] wileyj commented on #738
https://github.com/blockstack/stacks-blockchain-api/issues/725

[2021-09-02 19:31] whoabuddy commented on #725
Noting that I saw this in trying to load the [miamicoin-token](https://explorer.stacks.co/txid/0xc513b769c261233865c43f101438bd6359636ecacfe34576e6424d6c2629174e?chain=mainnet) contract, the first two tries timed out with the error below (also highlighted what I see in the network tab), third try it loaded really fast.

file:///home/whoabuddy/Pictures/Screenshot%20from%202021-09-02%2012-28-56.png

[2021-09-02 21:18] shermanxiong commented on #732
im running `v0.64.2` and attempted a sync from scratch to try to see if it would resolve. it didnt work, still receiving same error

[2021-09-02 21:48] dantrevino commented on #725
Boom client apps pull from https://${BASE_API_URL}/extended/v1/address/${STX_ADDRESS}/transactions?limit=50&offset=${PAGE}
and
https://${BASE_API_URL}/extended/v1/address/${STX_ADDRESS}/nft_events?limit=50&offset=${PAGE}

We default to the max page size of 50 because we have a lot of folks with multiple NFT series

[2021-09-03 10:40] MHassanTariq commented on #735
@zone117x I'm working on this issue.

[2021-09-07 09:13] vishalgupta96 opened #740 "Unable to query the stacks-blockchain-api-standalone on 3999"
hi Team,

We are trying to run stacks-blockchain node and trying to use Rosetta APIs for our project purpose. We have used the instructions provided on this link:
 https://github.com/blockstack/stacks-blockchain-api

I am using the below compose file for starting a node and trying to query it on 3999 but it gives "Recv failure: Connection reset by peer":

Compose file:

`version: '3.3'
services:

[2021-09-07 11:58] kyranjamie commented on #729
Sorry, missed this. Discussion in PR

[2021-09-07 12:13] blockstack-devops commented on #734
:tada: This issue has been resolved in version 0.65.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.65.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.65.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.65.0)

[2021-09-07 12:13] blockstack-devops commented on #589
:tada: This issue has been resolved in version 0.65.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.65.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.65.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.65.0)

[2021-09-07 12:13] blockstack-devops commented on #683
:tada: This issue has been resolved in version 0.65.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.65.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.65.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.65.0)

[2021-09-07 12:13] blockstack-devops commented on #644
:tada: This issue has been resolved in version 0.65.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.65.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.65.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.65.0)

[2021-09-07 12:13] blockstack-devops commented on #615
:tada: This issue has been resolved in version 0.65.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.65.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.65.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.65.0)

[2021-09-07 12:13] blockstack-devops commented on #577
:tada: This issue has been resolved in version 0.65.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.65.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.65.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.65.0)

[2021-09-07 12:16] zone117x opened #742 "Complete NFT `class` metadata support"
_Originally posted by @zone117x in https://github.com/blockstack/stacks-blockchain-api/issues/576#issuecomment-898695717_

Processing token metadata works pretty well for SIP-010 compliant FTs. Here's an example from Citycoins on testnet:
`http://localhost:3999/extended/v1/tokens/ST3CK642B6119EVC6CT550PW5EZZ1AJW6608HK60A.citycoin-token/ft/metadata`
[code]

NFTs aren't working so well -- the code n

[2021-09-07 14:57] zone117x opened #743 "Individual NFT (SIP-009) token metadata support"
Per https://github.com/blockstack/stacks-wallet-web/issues/1028

Note that this issue is distinct from [NFT-class metadata support](https://github.com/blockstack/stacks-blockchain-api/issues/742). This issue refers to resolving metadata for every token in every NFT class (e.g. `Cryptopunk number 3712`, as opposed to the broader `Cryptopunk` NFT-class).

To give some context to this issue, here's a

[2021-09-07 15:06] agraebe commented on #743
@wileyj @CharlieC3 @rafaelcr to leave some feedback

[2021-09-07 15:08] #248 closed

[2021-09-07 15:22] agraebe commented on #740
seems like we're already engaging on the forum to resolve this issue: https://forum.stacks.org/t/blockstack-how-can-i-setup-a-blockstack-full-node-not-testnet/11257/34

[2021-09-07 15:22] #740 closed

[2021-09-07 15:42] wileyj commented on #743
As mentioned in #576  - I don't think this should be a part of the core API functionality.
I don't have any opinion of *if* the work should be done to process all the FT/NFT tokens, but if it's something we end up doing - I would strongly advocate for a completely separate service that performs this work.

Unclear from the above text is if this is a one time operation for "older" tokens, or would

[2021-09-07 15:50] zone117x commented on #743
The operation described above is performed once on every token (all old/existing tokens, and new tokens as they are created), and it's ran on every API deployment including when using event-replay deployments. There was a request to run these more than once (likely on an interval) in order to support metadata updates.

[2021-09-07 16:09] CharlieC3 commented on #743
Agreed with @wileyj, this is a lot of eggs to put in one basket so to speak. My thoughts are that separating this and https://github.com/blockstack/stacks-blockchain-api/pull/576 out into a dedicated microservice would pay in dividends and reduce the API's complexity.

Instead of an interval to run against all token metadata, can this just be ran when a metadata update event comes through on just

[2021-09-07 17:16] zone117x commented on #743
Yep, if we do support updating existing metadata, I think it should be done through events like that. There's some previous discussion around that here https://github.com/blockstack/stacks-blockchain-api/pull/576#issuecomment-841111331.

[2021-09-07 19:30] zone117x commented on #743
One issue that comes to mind is how a server would be able to fetch something like 10k JSON files from a given NFT's metadata server in a short period of time. For example, NFT contracts that do something like the following to return a metadata URL:
[code]

It seems likely the metadata resolver server would get IP rate limited/blocked while attempting 10k http requests to `example-nft-site.com`. A

[2021-09-07 19:34] agraebe opened #744 "OpenAPI spec: Naming conventions"
As part of the OpenAPI spec review, we realized that there is a lack of naming conventions. It would be useful to extend out contributions guidelines with some initial conventions based on the [Google's Cloud API conventions](https://cloud.google.com/apis/design/naming_convention). Some points we should cover:
- case styles
- abbreviations
- singular vs plural
- underscore vs hyphen

@rafaelcr @zo

[2021-09-07 19:36] agraebe commented on #417
@rafaelcr as per our conversation today, we could explore how to auto-generate the collection from the OpenAPI spec

[2021-09-07 19:39] agraebe opened #745 "OpenAPI spec: Add linting rules"
It seems like it is possible to [lint YAML files](https://stoplight.io/open-source/spectral/). We could use this to ensure that the OpenAPI spec includes all mandatory fields and follows best practices guidelines.

These guidelines would become more clear once we did a manul review of the current file, likely in the next quarter.

cc @pgray-hiro

[2021-09-07 19:44] rafaelcr opened #746 "autogenerate postman collection from OpenAPI yaml file"
We currently have a postman collection available for users to try the API, but it is outdated and several of its endpoints do not work anymore.

It is generally difficult to keep this document up to date because it involves several manual steps, so the idea of this issue is to create an automated process (through Github Workflows or similar) that takes in our OpenAPI spec and transforms it into a

[2021-09-07 19:45] rafaelcr commented on #417
#746 just filed this issue to track the autogeneration

[2021-09-07 21:39] wileyj commented on #743
There are ways around that 429......but it would require a separate service to perform these fetches, and little bit of hack engineering.

[2021-09-08 10:09] markmhx commented on #743
@andresgalante @kyranjamie I presume we're agonistic client-side as to whether this functionality is provided via the same API or a micro service as long as the metadata is provided reliably in an updated manner?

[2021-09-08 12:52] zone117x commented on #732
I'm able to produce it on latest. It looks like many `delegate-stx` contract calls are providing a non-standard format for the `pox-addr`. In the case of this error, the tx is https://stacks-node-api.testnet.stacks.co/extended/v1/tx/0x41706da445ac744570a95548472add8485e8c4d59bfc105474dca2ef22d6a4e7

[code]

The value `0xc4` (196) is causing `poxAddressToBtcAddress` to throw at https://github.com/b

[2021-09-08 13:38] MHassanTariq commented on #641
[Jaeger](https://www.jaegertracing.io/docs/1.26/) with [OpenTelemetry](https://opentelemetry.io/) is also an option. However, [Jaeger UI doesn't provide FlameGraph](https://github.com/jaegertracing/jaeger-ui/issues/525) but it does provide details to the span of functions.
Using [Tempo](https://github.com/grafana/tempo) is a good approach, but [Grafana](https://grafana.com/) is paid.
Let me know w

[2021-09-08 13:45] CharlieC3 commented on #641
@MHassanTariq I believe only Grafana Cloud or Enterprise support has a fee to it. Self-managed Grafana is [open source](https://github.com/grafana/grafana) and is free to use (that's what Hiro uses), so we'd prefer an implementation that generates reports which can be ingested by Tempo.

[2021-09-08 14:02] zone117x commented on #641
This looks interesting if we go the OpenTelemetry route https://www.npmjs.com/package/@opentelemetry/instrumentation-pg
Related to https://github.com/blockstack/stacks-blockchain-api/issues/738 /cc @rafaelcr

[2021-09-08 14:19] rafaelcr commented on #641
Thanks for the tip @zone117x , I was actually looking at this solution: https://github.com/prometheus-community/postgres_exporter which would be on top of our current Prometheus configuration. I'd love to see what @CharlieC3 this of something like this (more instructions at https://promcat.io/apps/postgresql#SetupGuide)

[2021-09-08 15:20] rafaelcr commented on #738
Before adding the instrumentation manually, I've been looking into options and found two that look compelling (thanks @zone117x for pointing me to OpenTelemetry):

1. [Prometheus Postgres Exporter](https://github.com/prometheus-community/postgres_exporter): A Docker container that runs in parallel to Postgres, connects to it, pulls instrumentation, and creates a `/metrics` endpoint for Prometheus

[2021-09-08 15:57] wileyj commented on #738
The first option is something we had run in the past for local postgres instances. We'll have to see if the same method will work for the API DB.

[2021-09-08 17:02] CharlieC3 commented on #641
The postgres exporter would definitely be useful I think in our infra, but it wouldn't serve as a substitution for live profiling in the API. Not sure if that's what you were implying :)

[2021-09-08 17:15] CharlieC3 commented on #738
I think both options are needed if we want to paint the full picture and have better traceability of a single API request throughout the system. I would suggest opening a ticket in the devops repo regarding the prom postgres exporter.

[2021-09-08 20:52] Eshwari007 commented on #729
@kyranjamie
I do not see the setting option as we see in WW and testing concludes hard coded value as fee.
Attaching the screenshot for your input if this is as per design
<img width="504" alt="Screen Shot 2021-09-08 at 4 49 13 PM" src="https://user-images.githubusercontent.com/38872890/132583669-916c52ee-2aaf-4653-b006-c52e401d60db.png">
<img width="494" alt="Screen Shot 2021-09-08 at 4 49 26 PM"

[2021-09-09 11:37] blockstack-devops commented on #729
:tada: This issue has been resolved in version 0.66.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.66.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.66.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.66.0)

[2021-09-09 11:46] #729 closed

[2021-09-09 21:48] #732 closed

[2021-09-09 21:55] dantrevino commented on #743
From an NFT perspective, I'd like to point out that there is currently no metadata standard.  SIP009 only specifies to return a metadata uri from `get-token-uri` ... it does not specify the protocol, format, or properties of metadata

The following still needs to be managed:
1. metadata protocol.  Is this service prepared to handle ipfs (ipfs://)/arweave (ar://) as well as http(s)?
2. metadata for

[2021-09-09 22:10] zone117x commented on #743
Good point @dantrevino. A requirement for this issue is that an NFT metadata standard SIP needs to be defined and at least in the process of ratification.

[2021-09-09 22:31] shermanxiong opened #752 "[Rosetta][Construction-API][Feature] memo handling for transactions"
## Feature Request
Support optional memos in transactions when using Rosetta Construction API to build and submit transactions. I think the best place to put this would be in the metadata field when constructing a transaction. It could look something like this:

## Example Flow
### construction/preprocess
[code]

### construction/metadata
[code]

### construction/payloads
[code]

One question is:

[2021-09-10 11:18] zone117x commented on #752
We can add `memo` to the token_transfer operation, but not the others. There's no memo (or other free form field) that can be used for a `stack-stx` contract call.

[2021-09-10 13:55] #752 closed

[2021-09-11 09:49] fariedt opened #755 "a few raw transactions are missing (operational issue at stacks-node-api.mainnet.stacks.co)"
For example, `0xd3d8f40671c6bb24fb4bf7ca6782e96ec3f09f7ef65ace7a02e571ca547b13eb`:

[code]

Another one: `0xddafd0fd18f84f2ce8375e08467182a662e0a215cbecbd724b9fc7e4a65f9922`

Several of the ones I've found have the same transferred amount -- 388,888 STX -- and are from multisig address, with a fee of 0 (is that possible?).  I assume it's some internal Blockstack thing.

[2021-09-13 11:26] MHassanTariq commented on #641
@CharlieC3 I'm using [OpenTelemetry Metrics](https://www.npmjs.com/package/@opentelemetry/metrics) for generating metrics and [OpenTelemetry Auto Instrumentations Node](https://www.npmjs.com/package/@opentelemetry/auto-instrumentations-node) for generating traces. For exporting our traces and metrics, I use [OpenTelemetry Exporter Collector](https://www.npmjs.com/package/@opentelemetry/exporter-co

[2021-09-13 13:07] kyranjamie commented on #743
We'd be happy to consume data from a separate service is necessary. Definitely see the concerns of the API becoming the place to _Do everything™️_

[2021-09-13 13:37] CharlieC3 commented on #641
@MHassanTariq We already use the Prometheus library to export metrics. Is OpenTelemetry Metrics easier to use or better than Prometheus in some way? Or does it make more sense to use OpenTelemetry Metrics since we'd use OpenTelemetry for its traces?

If it makes more sense to use OT Metrics and remove the Prometheus library from the API's code, I wouldn't oppose as long as we're still able to trac

[2021-09-13 14:19] wileyj commented on #641
To change this to Opentelemetry vs the current prometheus library is a @zone117x @rafaelcr discussion. the metrics collected will essentially be the same.

for the tracing, using this library is perfectly fine.

[2021-09-13 15:19] agraebe commented on #713
@aulneau @zone117x any ideas on the last comment?

[2021-09-13 15:21] agraebe commented on #698
removing priority because this is on hold until 2768 is further along

[2021-09-13 15:32] agraebe commented on #350
this seems related to #744

[2021-09-13 15:36] agraebe commented on #624
@zone117x was this resolved with the mircoblocks PRs merged in?

[2021-09-13 15:38] agraebe commented on #469
@Muhammad-Altabba what documentation would you be looking for? could you provide more context?

[2021-09-13 15:40] agraebe commented on #131
would this new project resolve the need @muneeb-ali: https://stacksdata.info/ ?

[2021-09-13 15:41] zone117x commented on #624
It was not, there was a recent report of this same issue https://github.com/blockstack/explorer/issues/534

I found a couple areas in the code that are likely causing this, but haven't had a time fix and test

[2021-09-13 15:44] agraebe commented on #654
@asimm241 what's the latest on this? should we move this to the backlog with a prioritiy or close it out?

[2021-09-13 15:47] agraebe commented on #723
@zone117x could this be taken on by Tintash? Could we add a priority and move to the backlog if so?

[2021-09-13 15:53] diwakergupta opened #756 "Uneven utilization for proxied follower nodes"
**Describe the bug**
Not sure if this is still an issue, or if it's an issue specific to Hiro's deployment vs. API internals -- opening this issue for tracking.

Last week we observed that when more nodes were added to the proxied followed nodes, traffic did NOT get evenly distributed to the new nodes. In particular, the original set of nodes showed much higher CPU usage than the newer nodes, sugg

[2021-09-13 16:10] wileyj commented on #756
This may have been a result of the test we did on friday per @zone117x initial request (and subsequently promoted that environment without rolling back those test changes). Things look much better today, but we'll want to double-check the traffic is being spread correctly before closing.

[2021-09-13 16:24] CharlieC3 commented on #756
If we don't see an improvement this week, I would recommend trying to run the kube-proxy (the service which manages the routing for all internal VIPs) to be ran in [IPVS mode](https://kubernetes.io/docs/concepts/services-networking/service/#proxy-mode-ipvs).

This mode has been considered stable for a while, and would allow us to route traffic to the backend followers via least connection instead

[2021-09-13 16:36] zone117x commented on #756
We should revisit this config https://github.com/blockstack/stacks-blockchain-api/blob/9a7165e3c9a2185684f77145f9d391991981cb82/src/api/routes/core-node-rpc-proxy.ts#L28-L33

A while back we changed the proxy to use keep-alive in an effort to increase performance of the stacks-node's http server, but that may no longer be helpful, and seems like it would contribute to this uneven distribution.

[2021-09-13 16:39] wileyj commented on #756
hmm, yeah with more services running i'd say that long keep-alive wouldn't be very useful anymore.
@CharlieC3 i looked at IPVS as well, but that's a private discussion

[2021-09-13 17:54] zone117x commented on #755
These are actually special transactions initiated on the bitcoin chain and picked up by the Stacks chain and treated as a Stacks operation. These types of transactions are supported in the API only in the sense that they can be artificially transformed into the results of a regular Stacks transaction, see: https://github.com/blockstack/stacks-blockchain-api/blob/9a7165e3c9a2185684f77145f9d39199198

[2021-09-13 17:58] zone117x commented on #755
I'm not sure if there's anything actionable to do here so I'm going to close the issue for now. Please comment if you think there is.

[2021-09-13 17:58] #755 closed

[2021-09-13 18:02] CharlieC3 commented on #756
@zone117x It's difficult to say for sure. The API is only given a single DNS record to the backend followers which resolves to a single IP address. The API isn't aware that it's a virtual IP and there's additional routing happening at the network layer once traffic reaches the VIP. I would hazard a guess that the API isn't locking to a single stacks follower as a result of this configuration.

If

[2021-09-13 18:34] zone117x commented on #756
This wouldn't surprise me, however, my understanding is that the `keep-alive` directive will cause a stateful-enough TCP connection to a given stacks-node to bypass that network routing. Or, to put another way, I can't imagine WebSocket connections (for example) would work correctly if there was a network layer routing individual tcp packets to an instance other than the one from the initial hands

[2021-09-13 19:20] CharlieC3 commented on #756
ah good point, I missed that the configuration was for socketed connections. 🤔

[2021-09-14 00:19] shermanxiong opened #760 "[Rosetta][Data-API] transaction with stx_unlock op has conflicting transaction hash"
## Context
When Zondax initially added support in Rosetta API for stacking: #613 , "forged" transactions were created with `stx_unlock` operations because there are no actual on-chain transactions to show that accounts' tokens unlocked. This is due CB requiring balance changing events to be on-chain events otherwise addresses will be quarantined.

So the solution was to  create a transaction to sh

[2021-09-14 07:31] MHassanTariq commented on #641
@CharlieC3 the only problem I face with OpenTelemetry Matrices is that there is not any auto instrumentation tool for metrices, unlike [auto-instrumentation](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/metapackages/auto-instrumentations-node) for traces.
As far as setup is concerned, it is as easy as Prometheus.

So far, my traces read as:
[code]

and for my metrices, I ju

[2021-09-14 10:28] zone117x commented on #760
This would require changes to the core node which wouldn't happen anytime soon.

Seems like these forged `stx_unlock` operations should use the block's coinbase tx, that's where we've historically included events that don't fit anywhere else.

@asimm241 is this something you can take on?

[2021-09-14 11:33] asimm241 commented on #654
@agraebe  Thaks for the reminder, I'll try to open up a PR for it today!.

[2021-09-14 12:16] zone117x commented on #207
Related to rosetta maintenance work, cc @rafaelcr

[2021-09-14 13:11] asimm241 commented on #760
@zone117x sure.

[2021-09-14 13:48] CharlieC3 commented on #641
@MHassanTariq yeah when it comes metrics libraries it seems most (or all) of them are manual implementations since they're bound to the application's logic whereas traces operate at a lower level and don't need to know about high-level business logic.

Very cool! Interested to hear @zone117x and @rafaelcr thoughts on the above, including replacing the prometheus metrics lib for the OpenTelemtry li

[2021-09-14 14:20] zone117x commented on #725
These performance issues should be fixed. Please comment if anyone notices any `/extended` endpoints are still taking longer than ~1 second to load.

[2021-09-14 14:20] #725 closed

[2021-09-14 15:21] #756 closed

[2021-09-14 15:25] agraebe commented on #233
With the roll out of socket.io functionality, this is now possible.

[2021-09-14 15:25] #233 closed

[2021-09-14 20:52] rafaelcr commented on #738
Closing this issue as we're already looking at it in the devops repo and it looks like it won't involve any code changes in the API. Will reopen if necessary.

[2021-09-14 20:52] #738 closed

[2021-09-15 00:19] agraebe opened #762 "OpenAPI spec: Group and/or mark proxied endpoints"
It is unclear which endpoints are proxied to the Node API. To make the project relationship clear, we should categorize or mark proxied endpoints appropriately.

[2021-09-15 15:02] #417 closed

[2021-09-15 15:02] #746 closed

[2021-09-15 15:16] rafaelcr opened #764 "set api version in openapi.yaml automatically"
The API version exposed by `openapi.yaml` is [currently hardcoded](https://github.com/blockstack/stacks-blockchain-api/blob/develop/docs/openapi.yaml#L13) to `1.0.0`. This is confusing to users [in the API docs](https://blockstack.github.io/stacks-blockchain-api/) because the real API version reported by `/extended/v1/status` looks very different (e.g. `v0.66.1`).

Now that we have the latest vers

[2021-09-15 15:59] rafaelcr commented on #764
Hmm that could be very tricky since version numbers are taken from git tags so it happens outside of the coding flow. Can you point me to the process you currently use for building the new unified documentation site? Maybe we can figure out a way in which you could pull the generated `openapi.yaml` instead of directly from the repo.

[2021-09-15 16:57] pgray-hiro commented on #764
I just provide a qualified URL for the spec and the builder does the rest on the fly, you can see the config [here](https://github.com/hirosystems/docs/blob/26d887abe5aec837f1c7e2c60985449818919845/docusaurus.config.js#L40). One solution could be to use a GH action to generate the spec with the correct version and check it in to the docs repo, then we could reference the file that's checked into t

[2021-09-15 16:59] rafaelcr commented on #764
Cool, yeah, I believe it is possible for Github actions to generate `openapi.yaml` as an artifact for you to link to directly. I can look into it.

[2021-09-15 17:00] pgray-hiro commented on #764
Awesome, let me know!

[2021-09-15 17:48] rafaelcr commented on #661
I will wait for a PR to solve #642 before working on this issue since it will affect how microblock events are emitted and tested.

[2021-09-15 22:08] kantai opened #765 "Broadcast to `STACKS_CORE_RPC_HOST` and `STACKS_CORE_PROXY_HOST` on `/v2/transactions`"
**Is your feature request related to a problem? Please describe.**

Typical API configurations set the event-emitting stacks-node to `STACKS_CORE_RPC_HOST` and a pool of RPC handling followers to `STACKS_CORE_PROXY_HOST`. When `/v2/transactions` POSTs are handled, the event emitter needs to get the transaction to update the API's mempool endpoints, but if it isn't getting broadcasted to directly,

[2021-09-15 22:11] wileyj commented on #765
adding some possibly relevant files:
https://github.com/blockstack/stacks-blockchain-api/blob/master/src/api/routes/core-node-rpc-proxy.ts
https://github.com/blockstack/stacks-blockchain-api/blob/master/src/core-rpc/client.ts#L193-L202

[2021-09-16 08:56] zone117x commented on #765
I'm open to doing this as a temporary fix to the mempool propagation issues, however, it's not without several issues:
1. We don't expose the event emitter node to the public because excess load can cause API updates to slow down or halt.
2. This change increases infrastructure dependency issues related to https://github.com/blockstack/stacks-blockchain-api/issues/642
3. This will paper over the u

[2021-09-16 10:42] blockstack-devops commented on #760
:tada: This issue has been resolved in version 0.67.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.67.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.67.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.67.0)

[2021-09-16 10:46] #760 closed

[2021-09-20 11:48] zone117x commented on #765
[informational] here's the issue tracking improvements to the tx mempool propagation code: https://github.com/blockstack/stacks-blockchain/issues/2193

[2021-09-20 13:04] asimm241 commented on #723
@MHassanTariq is working on it!

[2021-09-20 15:46] asimm241 commented on #579
@zone117x what's the status on this?

[2021-09-20 20:22] blockstack-devops commented on #714
:tada: This issue has been resolved in version 0.68.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.68.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.68.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.68.0)

[2021-09-20 23:05] zone117x commented on #579
I'm moving this to a P4 since this issue hadn't caused serious problems. Also, I don't think we'll be able to get the stacks-node event emitter changes that I last mentioned.

We could look into adding the contract-call function ABI to the DbTx and DbMempoolTx interfaces, and see if it's reasonable for the related postgres queries to include that data. That would avoid needing to performing ABI lo

[2021-09-21 01:52] agraebe commented on #765
with the linked PR merged and the stacks node ref issue, can this be closed @zone117x

[2021-09-21 07:35] #765 closed

[2021-09-21 14:59] aulneau commented on #713
yes this is likely what the issue is

[2021-09-21 19:31] #735 closed

[2021-09-23 05:05] Muhammad-Altabba commented on #469
Hello @agraebe ,
Thanks for your question.
I am looking for the updated version of this documentation https://github.com/blockstack/stacks-blockchain/blob/stacks-1.0/docs/blockstack-did-spec.md
Let us say someone wants to use Stacks vs ION for a DID solution. How can he/she assess Stacks?
And let us say someone wants to implement a plugin for Veramo (https://github.com/uport-project/veramo/) in or

[2021-09-23 15:49] zone117x commented on #714
@asimm241 I think there's a bug in the fix for this issue -- it looks like the last owned name logic is inverted.
In the above example:

https://stacks-node-api.mainnet.stacks.co/v1/addresses/stacks/SP2J1ZFZ5BYTD7H7F84CCZ2B4HEJSBV060XW79G1X

https://stacks-node-api.mainnet.stacks.co/v1/addresses/stacks/SP9CMJ7S8XR25H6ZKAJXT4M7KSPQ1B8PPVSYJRTC

Only the original address has the name.

Looks like th

[2021-09-23 16:13] agraebe opened #776 "Add API architecture overview"
We should add this diagram to the following files:
- https://github.com/blockstack/stacks-blockchain-api/blob/master/overview.md (replace the ASCII diagram)
- https://github.com/blockstack/stacks-blockchain-api/blob/master/readme.md (add "architecture" chapter with diagram and link to the overview.md file)

![APIArchitecture](https://user-images.githubusercontent.com/1671228/134544275-c572e0d1-71c

[2021-09-23 16:40] agraebe commented on #469
I'm not sure who was involved in the DID work to provide context, especially on the API side. @zone117x - any thoughts?

The only DID-relevant documentation I can find is here: https://docs.stacks.co/build-apps/references/bns#did-encoding-for-subdomains.

[2021-09-23 18:16] asimm241 opened #779 "[bug] name transfer is not reflecting in the api"
**Describe the bug**
BNS names are returning by the old address even after transferring to another address.
see details here:
https://github.com/blockstack/stacks-blockchain-api/issues/714#issuecomment-925938907

[2021-09-23 18:17] asimm241 commented on #714
The problem was occurring because of name owner was being set incorrectly.  I have created another issue to track that.
https://github.com/blockstack/stacks-blockchain-api/pull/778

This issue should be closed as it's not a problem with the query.

[2021-09-24 13:52] zone117x commented on #469
There's some DID related context here over here: https://github.com/blockstack/stacks.js/pull/1053

I don't think this is in the scope of the API right now

[2021-09-27 15:43] rafaelcr commented on #764
@pgray-hiro could you check if this link would work for you in your docs builder? https://raw.githubusercontent.com/blockstack/stacks-blockchain-api/gh-pages/openapi.resolved.yaml

If so, the PR for this change becomes trivial 👍

[2021-09-27 15:46] pgray-hiro commented on #764
@rafaelcr Just built the site with that URL as the target for the spec and it works fine.

[2021-09-27 21:08] agraebe commented on #654
is this completed? @asimm241

[2021-09-28 11:38] asimm241 commented on #654
@agraebe yes

[2021-09-28 13:28] albydeca commented on #711
hi guys, is there an update about this?

[2021-09-28 13:38] CharlieC3 commented on #711
@albydeca  No updates at the moment. No need to wait for this to be closed though, [feel free to give it a shot if you have the time!](https://github.com/blockstack/stacks-blockchain-api/issues/711#issuecomment-900633306)

[2021-09-28 14:02] #714 closed

[2021-09-29 10:54] asimm241 commented on #296
@agraebe What is the status of this?

[2021-09-29 15:29] agraebe commented on #296
oh, let's keep this in the icebox for now. thanks for checking

[2021-09-29 17:13] #642 closed

[2021-10-01 01:20] agraebe opened #784 "Remove regtest references"

[2021-10-01 13:02] zeeshanakram27 opened #785 "Websockets: Unable to received testnet events"
## Unable to capture events of Testnet

I am observing the contract on mocknet using following piece of code. We are using [@stacks/blockchain-api-client](https://blockstack.github.io/stacks-blockchain-api/client/index.html)

[code]

Its working fine, and we are getting events like

[code]

However, for the testnet I am only updating this url. `const STACKS_CORE_API_WS_URL = 'wss://stacks-node-api

[2021-10-01 14:41] rafaelcr commented on #785
@zeeshanakram27 could you try running the same test scenarios but using the socket-io client library instead? I'd like to test if the problem is specific to the WebSockets code.

This is an example of how to do that:
[code]

[2021-10-01 14:50] rafaelcr opened #786 "Add documentation and examples for the socket-io client library"
We currently have a [docs page setup for our WebSockets client](https://blockstack.github.io/stacks-blockchain-api/client/index.html), but it doesn't mention anything about the new socket-io implementation (which AFAIK we plan on supporting more in the future).

We should either add a section to this document that covers socket-io or replace it altogether to encourage new developers to use the new

[2021-10-01 15:29] noumanahmads commented on #785
@rafaelcr
I have used your code and added this:  `sc.logEvents()` .
It did logged the event for me :

[code]

[2021-10-04 08:54] asimm241 commented on #662
@zone117x what is the status of this, is this fixed in the core?

[2021-10-04 11:07] MHassanTariq commented on #641
@CharlieC3 Do we have a Tempo server where I can export my traces to?
cc: @zone117x @rafaelcr

[2021-10-04 14:56] #776 closed

[2021-10-04 19:21] agraebe commented on #786
fully agreed! apart from the references, we should also:
-  create some sample code for most important use cases
- add a guide inside the documentation (cc @pgray-hiro)

@zone117x do you think Tintash can help with the references and/or the sample code creation? or would this be better handled by you/Rafael?

[2021-10-04 19:29] agraebe commented on #785
I noticed that you used `wss://stacks-node-api.testnet.stacks.co/` as the socket url in your original code @noumanahmad001. @rafaelcr used `https` for socketio (maybe the protocol doesn't have to be specified in this case).

However, [one docs page](https://docs.stacks.co/build-apps/examples/public-registry#step-3-connect-to-web-socket) and [this comment in the sample code](https://blockstack.gith

[2021-10-04 19:31] #518 closed

[2021-10-04 19:31] #526 closed

[2021-10-05 13:21] zone117x commented on #662
AFAIK core still has the issue described in the referenced comment, so this isn't actionable in the API codebase.

I've recently seen different API instances getting different transaction ordering from the event payloads received from core, so that non-determinism needs addressed there.

[2021-10-05 13:22] zone117x commented on #786
@kyranjamie made an RxJS library for this feature when it was implemented during the hackathon. Perhaps that is a good starting pointing / reference?

[2021-10-05 14:10] zone117x commented on #624
Update on this issue:
It looks like re-org changes from the microblock feature at least decreased the probability of this issue manifesting. From what I can tell, it only happens through a specific series of anchor block and microblock re-orgs, and it also appears to be eventually self-correcting (through `dropped_mempool` events I suspect).

Using the following query to find these instances:
[cod

[2021-10-05 14:16] #661 closed

[2021-10-05 14:25] zone117x commented on #785
Any websocket client lib will ultimately have to translate `http(s)://` to `ws(s)://`, otherwise the `WebSocket` constructor will throw. Most libs do this conversion for you, so that shouldn't be an issue.

[2021-10-05 15:13] #779 closed

[2021-10-05 15:21] #784 closed

[2021-10-05 15:26] zone117x commented on #713
Looks like this issue in client repo(s): https://github.com/blockstack/stacks.js/issues/1105
Closing this API issue

[2021-10-05 15:26] #713 closed

[2021-10-05 17:16] blockstack-devops commented on #779
:tada: This issue has been resolved in version 0.69.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.69.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.69.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.69.0)

[2021-10-05 17:16] blockstack-devops commented on #661
:tada: This issue has been resolved in version 0.69.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.69.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.69.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.69.0)

[2021-10-05 17:16] blockstack-devops commented on #642
:tada: This issue has been resolved in version 0.69.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.69.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.69.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.69.0)

[2021-10-05 17:16] blockstack-devops commented on #654
:tada: This issue has been resolved in version 0.69.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.69.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.69.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.69.0)

[2021-10-05 17:16] blockstack-devops commented on #776
:tada: This issue has been resolved in version 0.69.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.69.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.69.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.69.0)

[2021-10-05 17:16] blockstack-devops commented on #735
:tada: This issue has been resolved in version 0.69.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/stacks-blockchain-api-types/v/0.69.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@stacks/blockchain-api-client/v/0.69.0)
- [GitHub release](https://github.com/blockstack/stacks-blockchain-api/releases/tag/v0.69.0)

[2021-10-06 13:37] #764 closed

[2021-10-07 06:38] noumanahmads commented on #785
Thank @rafaelcr

[2021-10-10 18:53] PUN-app opened #797 "[TESTNET BUG] xenon stalled with "stacks_tip_height": 0"
## Describe the bug

Using a modified config of the docker compose setup that comes with a clone of stacks-blockchain-api, xenon completed burnchain sync and stalled with "stacks_tip_height": 0.

## Steps To Reproduce

Create a toml using
[stacks-blockchain/testnet-follower-conf.toml at master · blockstack/stacks-blockchain · GitHub](https://github.com/blockstack/stacks-blockchain/blob/master/test

[2021-10-12 15:23] kantai opened #798 "Logging information relevant to tracking "confirmed after X blocks""
I'd like stacks-blockchain-api nodes to be able to log the stacks height that a tx was broadcasted at when that tx gets confirmed:

[code]

Basically -- an api node that is handling broadcasting transactions should log when those broadcasted transactions get confirmed.

[2021-10-12 15:32] kantai commented on #798
The alternative is just adding two log entries:

[code]

And:

[code]

[2021-10-12 15:34] #797 closed

[2021-10-13 23:41] nasmithan opened #802 "Rosetta "/account/balance" endpoint high latency (10-15 seconds)"
The CPU and memory on our hardware remains low (<25%,) but under a higher request load (10 requests per second) the p75 latency goes from 1 second to 10-15 seconds. We've noticed that some addresses are faster than others. We are hitting timeout limits and are wondering what can be done to increase performance on endpoints under load.

[2021-10-14 14:54] zone117x opened #803 "Add `at_block` query param for `/address` endpoints"
Several of the `/extended/v1/address/{principal}/*` endpoints would be much more useful if they supported an optional `at_block: <block height or block hash>` parameter that returned data representing the state at that point in time, rather than the only the current block.

For example, it would be useful to be able to query the `/extended/v1/address/{principal}/balances` endpoint with a specific

[2021-10-14 16:53] zone117x opened #804 "Incorrect STX balance"
See https://stacks-node-api.mainnet.stacks.co/extended/v1/address/SP1VA9HEH5VJFBCGJ6F8VF9BGS8WF6DJE9AD7856/stx
[code]
https://explorer.stacks.co/address/SP1VA9HEH5VJFBCGJ6F8VF9BGS8WF6DJE9AD7856?chain=mainnet

[2021-10-15 11:52] kyranjamie opened #806 "Check for unused exports"
Mentioned this to @zone117x briefly, but highly recommend in the API, stacks.js etc

https://www.npmjs.com/package/ts-unused-exports

Uncovered so much dead code in the Hiro Wallet.

<details>
<summary>Unused exports</summary>

[code]

</details>

**Github Action**

[code]

There's an eslint `import` plugin library that supposedly does the same, but didn't have any success using it

[2021-10-15 16:15] #798 closed, assigned to rafaelcr

[2021-10-19 14:17] rafaelcr commented on #802
@nasmithan the PR with the fix for this issue is now merged to `develop`. We'll be conducting further testing on the `develop` branch so we can move to `master` ASAP.

[2021-10-21 14:25] rafaelcr commented on #804
After further investigation, @zone117x found that this issue is caued by a bug in the block re-org handling code related to microblocks. He's currently working on reproducing the issue in order to write a generalized fix.

[2021-10-21 18:36] pseudozach opened #815 "subscribe to anchor blocks or microblocks via websocket"
**Is your feature request related to a problem? Please describe.**
I have an app that creates swaps that expire on a certain blockheight for this I need to periodically check if there's a new block.

**Describe the solution you'd like**
I'd like to have a way to subscribe to anchor block updates with the websocket and preferably also microblock updates. So Everytime there's a new anchor block or m

[2021-10-21 20:14] rafaelcr opened #816 "Address transactions endpoint causes database CPU spike in API pods"
We're seeing latency spikes affecting several mainnet API pods caused by recurrent calls to the `/extended/v1/address/:stx_address/transactions` endpoint.

We should look into optimizing the complex query used by that endpoint and/or look for a table index we could add to speed it up.

[2021-10-22 01:57] Jamil opened #818 "Contract and Balance Discrepancies in Block #32861"
I noticed two issues on https://stxnft.com (using the Stacks API) which I think can both be traced back to transactions in the same block.

The symptoms are:
1. Discrepancies in NFT balances between the Stacks and PlanBetter explorers
2. Discrepancies between the result of contract calls and balances according to the Stacks API

I'll go over the cases here:

## Case 1

I noticed that on our market

[2021-10-22 15:08] PUN-app opened #820 "A heartbeat for web sockets"
Please give web sockets a heart beat.  Ideally every 5 seconds, but could be as long as 15 seconds.

This permits keep alive, health check, and can spawn recovery on the client side.

@agraebe I could blog on a breakdown on how current clients handle web sockets pub/sub today in the browser to help create a better use case to drive requirements if that helps.

[2021-10-26 15:18] #804 closed, assigned to zone117x

[2021-11-01 20:49] rafaelcr commented on #786
Great example of a community-written article (on websockets but the contents for socket.io would be practically the same) https://www.eriksuniverse.com/stacks-blockchain-api-architecture-websocket-message-flow.html

[2021-11-01 21:17] rafaelcr opened #828 "Implement Postgres materialized views to pre-calculate heavy queries and improve performance"
Given that the Stacks blockchain and our Hiro tools have seen a huge spike in use recently, we've had a growing number of performance issues in our mainnet API pods. Specifically, some of the heaviest DB queries have used a lot of CPU capacity, causing performance bottlenecks that affect API response times dramatically. Even though we've optimized some of these queries in the past few weeks and go

[2021-11-01 21:17] rafaelcr commented on #828
Related to #816

[2021-11-02 12:10] zone117x commented on #647
Closed by https://github.com/blockstack/stacks-blockchain-api/issues/647

Note that a new endpoint was only added for fetching a set of txs. For other new batch endpoints we should open new issues.

[2021-11-02 12:11] zone117x commented on #723
Closed by https://github.com/blockstack/stacks-blockchain-api/pull/788

[2021-11-02 12:11] #723 closed

[2021-11-02 12:11] zone117x commented on #641
Closed by https://github.com/blockstack/stacks-blockchain-api/pull/821

[2021-11-02 12:11] #641 closed

[2021-11-02 12:12] zone117x commented on #818
Closed by https://github.com/blockstack/stacks-blockchain-api/issues/804

[2021-11-02 12:12] #818 closed

[2021-11-02 12:18] zone117x commented on #743
We've decided not to add support for this in the API. We plan to implement additional NFT endpoints related to ownership, but unrelated to metadata.

[2021-11-02 12:18] #743 closed

[2021-11-02 12:45] zone117x commented on #624
At least one of the code paths that led to this were fixed in https://github.com/blockstack/stacks-blockchain-api/pull/817
Although it's possible there could be another.

For now, going to assume this is fixed and close out the issue. Please comment if anyone sees this again and I'll re-open.

[2021-11-02 12:45] #624 closed

[2021-11-02 20:33] rafaelcr opened #832 "Upgrade to docker/build-push-action v2 and move images to hirosystems/"
Since we're migrating this repository from blockstack/ to the hirosystems/ Github org, we should also move our Docker images to be under hirosystems/. However, we'd like to keep supporting blockstack/ images for a while so current users don't lose access to newest versions right away.

In order to achieve this, we should upgrade our docker/build-push-action Github action from v1 to v2 so we can up

[2021-11-08 07:02] kenrogers opened #836 "Missing documentation"
I was looking for documentation for the api client. I found this: https://github.com/hirosystems/stacks-blockchain-api/tree/master/client

But the link at the bottom of that page that is supposed to go to the full reference gives a 404.

[2021-11-08 12:51] asimm241 commented on #662
@zone117x I have tried to fix this issue here: blockstack/stacks-blockchain#2906.

[2021-11-08 21:43] rafaelcr opened #838 "/v2/transactions tx broadcast log is skipped when tx multicast is enabled"
The `/v2/transactions` proxy is supposed to log whenever a transaction is broadcasted to the node during forwarding, however, when node multicast is enabled by the use of `STACKS_API_EXTRA_TX_ENDPOINTS_FILE`, the codepath that logs the tx is skipped (as well as some `cache-control` header management).

The current theory is that the multicast middleware function needs to call `next()` when finishe

[2021-11-09 09:03] MHassanTariq commented on #657
@zone117x regarding the first two points, I looked into [json-schema-to-typescript](https://www.npmjs.com/package/json-schema-to-typescript). However, they are [not](https://github.com/bcherny/json-schema-to-typescript/issues/335) providing any global configuration for `additionalProperties`. Plus, I also looked into [jsonlint-cli](https://www.npmjs.com/package/jsonlint-cli) for their configuratio

[2021-11-09 14:52] zone117x commented on #452
Closing since the docs for /v2 endpoints have since been moved to their core repo at https://github.com/blockstack/stacks-blockchain/blob/master/docs/rpc/openapi.yaml

[2021-11-09 14:52] #452 closed

[2021-11-09 17:13] #838 closed

[2021-11-09 17:15] rafaelcr opened #840 "Add prometheus metrics for websockets"
We currently have custom prometheus metrics in place for socket.io (from #731 ) that measure channel usage, total connections, disconnections, etc. We should add similar metrics to websocket usage so we can monitor how our users are interacting with them.

[2021-11-09 17:16] rafaelcr commented on #840
This will allow us to upgrade events currently sent by previous websockets #830

[2021-11-09 18:26] rafaelcr commented on #815
@pseudozach this is resolved, it will be available in the next API release.

[2021-11-09 18:26] #815 closed

[2021-11-11 05:26] BowTiedArcticWolf opened #844 "Inconsistency of API database transaction recording (and unclear dedup logic)"
**Describe the bug**
Seems that API database has some missing transactions (also dedup logic is not clear)

**To Reproduce**
Stacks punks should have only 10000 punks minted. When I try to recover this number from the database I have some trouble reconciling the number of transactions.

Steps to reproduce the behavior:
The following SQL query should yield exactly 10000:
[code]

The table txs has m

[2021-11-12 13:58] zone117x opened #845 "Upgrade to Nodejs v16 / npm v7"
Dockerfiles and any other references should be upgraded from nodejs v14 to v16 now that it has reached active LTS.

Should also upgrade from npm v6 to npm v7 (e.g. upgrading the package-lock.json file to v2).

[2021-11-12 16:12] zone117x commented on #844
Like most blockchains, Stacks has forks. Anything monitoring and collecting chain data in realtime must account for anchor re-orgs, and (in the case of Stacks) orphaned microblocks.

Modify your queries to only include canonical results, e.g.
[code]

[code]

[2021-11-12 17:01] zone117x commented on #844
Oops, didn't mean to close this right away! Let me know if you have any more questions/concerns, or if you still are finding anything that looks like a discrepancy. There have been re-org handling logic bugs in the past and there could certainly be more. But so far no evidence of that.

[2021-11-12 18:03] zone117x opened #846 "Implement new NFT endpoints"
We've aligned on the need for more NFT related endpoints that revolve around ownership. These new endpoints have come out of research and discussion started from NFT metadata support. It's not currently practical for the API to implement metadata support for NFTs akin to a large scale OpenSea-like backend to power NFT marketplaces. However, something more reasonable and also useful we can implemen

[2021-11-12 18:03] zone117x commented on #846
@rafaelcr @agraebe @markmhx @kyranjamie let me know if I've missed any endpoints, I'll add them to the list.

[2021-11-12 18:05] rafaelcr commented on #846
Nice... I think the ownership history endpoint should include any associated STX transactions so marketplaces can display the sell price

[2021-11-12 23:47] BowTiedArcticWolf commented on #844
Thank you for your comprehensive clarification (pun!)

Interesting, so I see how to dedup, but there are still not 10k punks minted, only 9533. Probably they were pre-minted - I will check the contract.

Just to be clear, is the same logic apply to nft_events, stx_events, and ft_events?

[2021-11-13 10:22] zone117x commented on #844
Correct

[2021-11-15 00:49] #844 closed

[2021-11-16 12:35] zone117x opened #850 "Error reading contract ABI"
Seeing a critical error in parsing tx responses:
`/extended/v1/tx/0x8407751d1a8d11ee986aca32a6459d9cd798283a12e048ebafcd4cc7dadb29af`

[code]

The contract ABI json object is null here: https://github.com/hirosystems/stacks-blockchain-api/blob/285632a983f2ae83d4f6250c339898dda75bb14e/src/api/controllers/db-controller.ts#L995

Seems like this bug was introduced in https://github.com/hirosystems/sta

[2021-11-16 12:38] MHassanTariq commented on #850
Sure, I'll look into it.

[2021-11-16 12:43] MHassanTariq commented on #850
@zone117x the `abi` is [required](https://github.com/hirosystems/stacks-blockchain-api/blob/develop/src/datastore/common.ts#L232) in `DbSmartContract`. Therefore, I ignored this edge case.
I will put a check for `abi` here. Thanks for pointing it out!

[2021-11-16 12:46] zone117x opened #851 "Return 400 on invalid requests to `/extended/v1/tx/{id}`"
The API currently throws on requests like `/extended/v1/tx/0x[object%20Object]`, with `Error: Hex string is an odd number of digits: 0x[object Object]`, and spams our log output with `error` level messages. Should return 400 and not log an error.

[2021-11-16 13:16] asimm241 commented on #850
@zone117x The `abi` is not supposed to be null here and this endpoint does not always fail doesn't this means the issue is not on the API side?

[2021-11-16 13:42] zone117x opened #852 "Error in tx broadcast logging"
The tx broadcast logging implemented in the RPC proxy for `POST /v2/transactions` has critical bug when used with tx multicasting:
[code]

The following line uses `<fetch result>.json()` which strips the double quotes from the response `"<txid>"`
https://github.com/hirosystems/stacks-blockchain-api/blob/0a485a3db35f783652ccfebe9139503a80c8c377/src/api/routes/core-node-rpc-proxy.ts#L226-L227

then

[2021-11-16 15:00] #852 closed

[2021-11-16 15:29] zone117x opened #854 "Return 400 on invalid req pagination queries"
API currently throws, returns a 500, and logs a critical error when invalid pagination query params are provided. For example:
`/extended/v1/address/SPJW1XE278YMCEYMXB8ZFGJMH8ZVAAEDP2S2PJYG.stacks-art-market-v2/transactions?limit=50&offset=-50`

[code]

This should return a 400, and not spam `error` level log messages.

[2021-11-16 15:54] zone117x opened #855 "Remove non-critical `error` log entries, alert on `error` logs"
The codebase generally has pretty good error capturing and logging for unexpected conditions. Typically any external bug report will have associated logs with `level: error` hours or days before the bug has been reported.

We should try to get to a point where we can alert on `error` level logs. At the moment there's several non-critical error log entries that spam the log output so we can't alert

[2021-11-16 16:15] #806 closed

[2021-11-16 16:18] #537 closed

[2021-11-16 17:29] zone117x commented on #850
Here's some db data for the smart contract referenced by the above tx `0x8407751d1a8d11ee986aca32a6459d9cd798283a12e048ebafcd4cc7dadb29af`:

[code]
[code]

There are three txs that attempted to deploy the contract, and only one succeeded and has an `abi`.

Can also verify by checking the `status` of the associated txs:
[code]
[code]

All but one have `status: -1` (`abort_by_response`)

[2021-11-16 17:43] asimm241 commented on #850
That's interesting @MHassanTariq Thanks for the insight.

[2021-11-17 12:38] hstove opened #857 "Issues related to sponsored transactions"
I've been playing with sponsored transactions, and I've noticed a few bugs related to how the API handles these transactions:

The biggest issue is probably related to fees, and how balances are effected. I'm not sure what the "root" payload is for sponsored transactions, but it appears that I can set two things:
- sender spending condition fee
- sponsor spending condition fee

What happens is the

[2021-11-17 13:53] markmhx commented on #846
This looks theoretically useful to me, though @agraebe was closer to the user research and might know of specific developers who'd want to review and verify that this plan would satisfy their present needs. Perhaps we can @ mention them here to take a look.

Separately, do we want this to be an extension of the API after all rather than a separate service?

[2021-11-17 15:17] rafaelcr commented on #846
@markmhx The idea right now is to add these endpoints to the API as it is today. We'd revisit the endpoint distribution once we follow up with the microservices project we've been planning.

[2021-11-18 22:19] zone117x commented on #857
Thanks for the detailed report! Sponsored transactions haven't been given much attention. The sample addresses you provided should help us fix this pretty easily.

[2021-11-19 14:38] #786 closed

[2021-11-22 15:10] CharlieC3 opened #862 "Event Replay TSV grows with frequent restarts"
**Describe the bug**
I've noticed the TSV file grows pretty rapidly when the API undergoes frequent restarts (once every hour or so). Right now a "healthy" TSV file will be about 1.9GB for the current state of the blockchain. After running an API which gracefully exits and restarts once every hour for 2 weeks, the TSV has grown to 42.4GB.

**To Reproduce**
1. Run the API and configure it to export

[2021-11-23 14:42] rafaelcr commented on #820
@PUN-app this feature is now merged to `develop`, it will be available to use in our next release.

[2021-11-23 14:42] #820 closed

[2021-11-23 15:23] CharlieC3 commented on #862
It seems the postgres database is also growing at the same rate along with the TSV file. The disk of the pg database is roughly the same size as the TSV file. And if the large TSV file is deleted and the API's `export-events` function is called to create a new TSV file, the resulting new TSV file will be the same large size (>40GB) as it were before.

This seems to indicate that the problem may no

[2021-11-23 22:41] #816 closed

[2021-11-24 09:42] #836 closed

[2021-11-25 02:37] #840 closed

[2021-11-29 06:00] pseudozach opened #865 "v2/fees/transaction endpoint is missing on mocknet"
please bump stacks-blockchain version to `2.05.0.0.0` or at least `2.0.11.4.0`. Currently when running mocknet instance with this command

the api doesn't have `v2/fees/transaction` endpoint which hiro web wallet looks for to build fees.

I hope it's as easy as changing this line?
https://github.com/hirosystems/stacks-blockchain-api/blob/master/stacks-blockchain/docker/Dockerfile#L1

[2021-11-29 11:22] MHassanTariq commented on #855
@zone117x a little clarification is required. Let me know if I have a correct understanding.
We are supposed to send the error msg with 400 status in response to the client instead of printing them on the console. If I'm right with that, so does using try-catch block look like a good approach to you?

[2021-11-29 22:19] rafaelcr commented on #865
I believe @wileyj had this bump in progress on this branch https://github.com/hirosystems/stacks-blockchain-api/compare/develop...feat/docker-cleanup
Could we take this opportunity to move to `2.05.0.0.0` @wileyj ? Let me know if I can help

[2021-11-30 16:02] zone117x opened #867 "Update to Codecov GitHub Action v2"
https://github.com/codecov/codecov-action

We're currently using v1 which has been deprecated and will no longer work Feb 1st. Requires upgrading to npm v7 so blocked on https://github.com/hirosystems/stacks-blockchain-api/issues/845

[2021-11-30 16:07] #668 closed

[2021-11-30 16:19] #803 closed

[2021-12-01 06:08] pseudozach commented on #865
@rafaelcr I don't see the stacks-blockchain version being changed in that PR.
https://github.com/hirosystems/stacks-blockchain-api/blob/feat/docker-cleanup/stacks-blockchain/docker/Dockerfile#L1
this is still the old version that doesn't have this endpoint right? so it won't help.

[2021-12-01 15:37] rafaelcr commented on #865
@pseudozach you're right, good catch. we'd only updated it in one Dockerfile

[2021-12-01 23:05] #726 closed

[2021-12-01 23:05] #588 closed

[2021-12-01 23:06] #865 closed

[2021-12-02 13:13] unclemantis commented on #742
I am having trouble with local stacks api.

  "error": "FT metadata processing is not enabled on this server"

I have the flag to allow it set to 1. What gives? I am currently synching and at block height 1854

[2021-12-02 20:26] wileyj opened #870 "Possibility to run DB schema migrations on startup"
During a schema change for a new release, the only upgrade path outside of wiping data and resyncing from genesis is to replay the events file.
This capability isn't widely known/enabled and when it's not run prior to upgrading, the errors are a bit misleading (it appears like there is an issue in the postgres db):
[code]

Ideally, what I'd like to see happen is that for schema changes, when the A

[2021-12-02 20:37] rafaelcr opened #871 "Automatically add "event replay or genesis sync required" note to CHANGELOG when necessary"
For every new API release, we have to manually determine whether or not users would need to perform an event replay or full genesis sync to use the newer version (if anything from the DB changes). Furthermore, we have to add this note to the CHANGELOG by hand to let them know.

Ideally, we could set a rule to the CHANGELOG generator that detects changes in the `/src/migrations` directory to add th

[2021-12-03 16:28] zone117x opened #873 "Optimize Clarity value serialization"
The latest CPU profiling against production points to over 50% of CPU time spent encoding/decoding raw Clarity values. For example, generating `repr` strings for contract-call tx args, parsing "length-prefixed" strings from raw tx segments, etc.

(Technically some of this actually parsing binary formats in the STX wire protocol / tx encoding format, but I'm lumping them together because they likel

[2021-12-03 16:29] wileyj commented on #871
#870

[2021-12-04 17:15] aulneau opened #875 "Expose events-only tx endpoint"
Hi there!

Currently when i'm working with transaction data, (eg fetching all transactions for a given principal), none of the events data is included in the transaction object. As such I need to do a secondary fetch for each transaction to the `/extended/v1/tx` endpoint to grab only the events.

I was thinking it'd be really helpful to have an endpoint at something like `/extended/v1/tx-events` t

[2021-12-04 17:18] aulneau opened #876 "burnchain rewards change over time"
Hi there!

I rely pretty heavily on the burnchain rewards endpoints for constructing state for stacking.club, but i've noticed that over time, sometimes the data associated with a given reward can change. Some things I've noticed are this:
- the reward_index can change
- the block_hash can change
- the recipient of the reward can change (very rarely but it happens)

I understand that much of this

[2021-12-06 10:23] zone117x commented on #876
What time periods are you seeing these change? If it's simply re-orgs causing it, then one solution could be only ever using data from blocks that have 3-5 or more confirmations. The app will be a couple hours behind but that's probably okay in this case?

[2021-12-06 15:44] aulneau commented on #876
I don't have detailed enough information to know when this happens, i only learn of it when the data is incorrect after the fact.

The confirmations idea makes sense and is actually something i can probably handle in my own service. I think having both would be useful.

I think ideally the rewards item would contain a `confirmations` key that would update after X confirmations. Do you think that w

[2021-12-06 15:59] zone117x commented on #876
Yeah I think most payloads could include a `confirmations` key, it's simply `(current block height - block height of item)`. Would probably be useful to have something like a `?min_confirmations=<number>` on a lot of endpoints as well.

[2021-12-06 16:00] #850 closed

[2021-12-06 16:01] #649 closed

[2021-12-06 16:02] #832 closed

[2021-12-06 16:16] aulneau commented on #876
Yeah I'm thinking in the short term i can implement some kind of check for this and watch for duplicates that way

yeah, agreed!

[2021-12-06 16:16] zone117x commented on #870
The db schema migrations (files under `src/migrations/*`) _are_ ran automatically on startup, however, it's pretty frequent, historically at least, that the schema changes add new data that there is nothing in the db to migrate from. In other words, it hasn't been typical that we do something like rename a column or change the formatting of a column, or other types of schema changes where a seamle

[2021-12-06 16:23] zone117x commented on #870
This could be helpful once we have a system in place to better track _when_ we need to do this. But I'd be concerned with the length of time this process could take. For example, if the `stacks-node` emitter isn't shutdown, I think it could end up in a bad state. @CharlieC3 @wileyj do we know if the `stacks-node` can spin on event emission retrying for hours at a time without bad things happening?

[2021-12-06 16:35] CharlieC3 commented on #870
I haven't seen an issue from this before. I've scaled down APIs over multiple days while its stacks-node emitter continued to run, and it was able to resume operations as normal once the API was scaled back up.

Looking at the commit message convention and github workflow steps, I think we're already following semantic versioning for this repo?